@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);}

/***********form builder header***************/
.fb-header {
  /*max-width: 200px;*/
  background-color: red;
  padding-bottom: 100px;
  /*position: relative;*/
}

#fb-header fieldset {
  border: medium none !important;
  min-width: 10%;
  /*width: 45%;*/
}

#fb-header input[type="text"],
#fb-header input[type="email"],
#fb-header input[type="tel"],
#fb-header input[type="url"],
#fb-header textarea {
  background: #FFF;
  border: 1px solid #ccc;
  margin: 2px 0px;
  padding: 10px;
  width: 100%;
}

#fb-header textarea {
  height: 120px;
}

#fb-header input[type="text"]:hover,
#fb-header input[type="email"]:hover,
#fb-header input[type="tel"]:hover,
#fb-header input[type="url"]:hover,
#fb-header textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#fb-header input:focus {
  border: 1px solid #aaa;
  outline: 0;
}

#fb-header label {
  color: #737373;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

#fb-header #logo-img {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#fb-header .left {
  float: left;
  margin-bottom: 20px;
  width: 30%;
}

#fb-header .right {
  float: right;
  width: 65%;
}

#fb-header .clearfix {
  clear:both
}

/***********form builder body***************/
#fb-rendered-form {
  border: 1px solid #ccc;
  border-radius: 5px;
  clear:both;
  display:none;
  margin-bottom: 10px;
  padding: 10px;
  /*width: 80%;*/
}

.action-btn{
  float:right;
  margin: 15px 2px;
}
