@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap);
html, body {
  background: #fefefe;
  /*For Enrollment Path*/
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  html, body {
    font-size: 90%;
  }
}

p {
  font-family: "Lato";
}

a {
  color: rgba(42, 129, 186);
}



h1 {
  font-family: "Noto Sans KR", sans-serif;
  padding: 0;
  margin: 30px 0 0 0;
  text-align: center;
  color: #fff;
  font-size: 3rem;
  letter-spacing: .03em;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 1.6em;
    padding: 10px 0 5px 0px;
  }
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  text-align: center;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  h2 {
    font-size: .9em;
    padding: 5px;
  }
}



.tint {
  background-color:rgba(157, 87, 181, 0.3);
  width:100%;
  height:100%;
  padding:2rem 0;
}
header {
  text-align:center;
  background-size:cover;
  text-align:center;
  background-position:50% 50%;
  margin-bottom:2rem;
}

header .row {
  padding-bottom:0;
}

header h4 {
  width:100%;
  float:left;
  text-align:center;
  color:#ffffff;
  padding-top:0;
  margin-top:0;
  font-weight:500;
}

.logo-container {
padding:2rem 9rem 0 9rem;
}

.agent {
  padding:1rem 0;
}

.top-header.row {
  margin-bottom: 0;
}






@media only screen and (max-width: 767px) {
  .head {
    padding: 0 0 10px 0;
    height: auto;
  }
}

/* Summary contains all the "shopping cart" styles Right-Col */
/* summary-box needs space when stacked on small devices */
@media only screen and (max-width: 767px) {
  .summary-box {
    clear: both;
    padding-top: 10px!important;
  }
}

.summary-box h3 {
  font-size: 1.5em;
  background-color: #eeeeee;
  width: 100%;
  color: #454545;
  letter-spacing: .05em;
}

.summary-title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.summary-box--container {
}

.summary-box--heading {
  color: rgba(42, 129, 186);
  font-family: "Lato", sans-serif;
  padding: 10px 0 0 0;
  font-size: 1rem;
  font-weight:700;
}

.summary-box--result {
  color: #454545;
}

p.summary-box--result {
  font-size:0.9rem;
}

.price-total {
  border-top: #ddd thin solid;
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 0 10px 20px;
}

.total-price {
  float: right;
  margin: 0 10% 0;
}

ul.form li {
  margin-bottom: 10px;
}

.poop-wrapper {
  margin-top: 25px;
}

@media only screen and (max-width: 767px) {
  .poop-wrapper p {
    padding: 0 10px 0 10px;
  }
}

.gender {

}
select#edit-submitted-personal-info-info-col-2-gender {
  width:100%;
}

.gender-select {

}



.esig {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
}

.signature-agree {
}

.signature-line {
  font-size: .8em;
  margin-top: 35px;
  color:#a6a6a6;
}

/* Info Box contains all the general information styles */
.info-box {
  float: left;
  background-color: #eeeeee;
  width: 100%;
}



.webform-client-form h3 {
    padding: 1rem 2rem;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    letter-spacing: .03em;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .webform-client-form h3 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 767px) {
  .info-box ul {
    margin: 0;
    padding: 0 10px 0 10px;
  }
}

.left {
  border-right: #454545 1px solid;
  padding-right: 30px;
}

@media only screen and (max-width: 767px) {
  .left {
    padding: 0 10px 0 10px;
    border: none;
  }
}

@media only screen and (max-width: 767px) {
  .right {
    padding: 0 10px 0 10px;
  }
}

.info-box__content {
  /*margin: 15px 0 15px 0;*/
}

label {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  margin-bottom:5px;
}



.form-item-submitted-personal-info-agreement-1 label,
.form-item-submitted-payment-billing-different-1 label {
  font-size: 1em;
  font-weight: normal;
  font-family: "Lato";
}

p.disclaimer {
  float: left;
}

/* General Information Title Styles "Upgrade, Payment etc."*/
.webform-client-form .inactive {
  background-color: #eeeeee;
  color: #454545;
  -webkit-transition-property: #eeeeee;
  /* Saf3.2+, Chrome */
  -webkit-transition-duration: 1s;
  -o-transition-property: #eeeeee;
  /* Opera 10.5+ */
  -o-transition-duration: 1s;
  -ms-transition-property: #eeeeee;
  /* IE10? */
  -ms-transition-duration: 1s;
  transition-property: #eeeeee;
  /* Standard */
  transition-duration: 1s;
  cursor:pointer;
}

.webform-client-form .active {
  border-bottom:#ddd solid 1px;
  color: #444;
  -webkit-transition-property: #454545;
  /* Saf3.2+, Chrome */
  -webkit-transition-duration: 1s;
  -o-transition-property: #454545;
  /* Opera 10.5+ */
  -o-transition-duration: 1s;
  -ms-transition-property: #454545;
  /* IE10? */
  -ms-transition-duration: 1s;
  transition-property: #454545;
  /* Standard */
  transition-duration: 1s;
}

.info-title:hover {

}

#webform-component-payment--credit-card--cc-number{
}

#webform-component-payment--credit-card--cc-exp-month{
  float:left;
  margin-right: 20px;
  margin-top: -5px;
}

#webform-component-payment--credit-card--expiration-year {
  float:left;
  margin-top: -5px;
}

/*Additional Coverage Styles"*/
ul.coverage-option {
  margin:0 auto;
  width: 50%;
}

li.coverage-option {
  list-style-type: none;
  !border-bottom: #626061 0.5px solid;
  !width: 70%;
  text-align: right;
  display: block;
  margin: 0 auto;
  padding: 19px;
}

/*The Buttons Go Wacky when scaled down"*/
@media only screen and (max-width: 768px) {
  li.coverage-option {
    padding: 10px;
    width: none;
    border-bottom: 0;
    border-top: #626061 0.5px solid;
  }
}

@media only screen and (max-width: 767px) {
  li.coverage-option {
    padding: 10px;
    width: none;
    border-bottom: 0;
    border-top: #626061 0.5px solid;
    margin-bottom: 0;
  }
}

.sub-title {
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  text-align: center;
  margin: 10px 30px 0 30px;
  clear: both;
  padding: 25px;
  letter-spacing: .02em;
}

@media only screen and (max-width: 320px) {
  .sub-title {
    font-size: 1em;
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

.price-option {
  text-align: right;
  font-family: "Lato", sans-serif;
  font-size: 1.7em;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .price-option {
    display: block;
  }
}

.add-btn {
  background-color: rgba(42, 129, 186);
  width: 110px;
  height: 40px;
  margin: 0 0 0 50px;
  font-famly: "Lato";
  font-size: 1em;
  color: #fff;
  border: 0;
  cursor:pointer;
}

.add-btn:hover{
  background-color:#125F99;
}

/*The Buttons Go Wacky when scaled down"*/
@media only screen and (max-width: 768px) {
  .add-btn {
    margin: 6px 0 6px 5px;
  }
}

@media only screen and (max-width: 320px) {
  .add-btn {
    margin: 6px 0 6px 5px;
  }
}


/*#e20d55*/
/*rgba(42, 129, 186, 0.5);*/
.add-btn-next,
#edit-submit--2, #edit-submit, .add-dep, .remove-dep {
  background-color: rgba(42, 129, 186);
  width: 100%;
  height: 50px;
  margin: 0 0 20px 50px;
  font-size: 1.2em;
  color: #ffffff;
  border: 0;
  float: right;
  font-weight: bold;
  cursor: pointer;
}

#webform-component-personal-info--next {
  margin-right: 40px;
}

#webform-component-personal-info--info-col-2--birth-date {
  margin-top: 40px;
}

#webform-component-personal-info--info-col-2--gender {
  margin-top:2rem;
}

/*The Buttons Go Wacky when scaled down"*/
@media only screen and (max-width: 768px) {
  .add-btn-next {
    margin: 6px 0 6px 5px;
  }
}

@media only screen and (max-width: 320px) {
  .add-btn-next {
    margin: 6px 10px 6px 5px;
  }
}

.sub-link {
  color: rgba(42, 129, 186);
  text-align: center;
  font-size: .9em;
  text-decoration: underline;
  margin: 10px 0 20px 0;
}

/*The link is just to big when you go to a phone"*/
@media only screen and (max-width: 320px) {
  .sub-link {
    font-size: .7em;
  }
}

.summary-disclaimer {
  font-size: .8em;
}

/*lower disclaimer word stylings*/
.lower h4 {
  font-size: .9em;
  font-weight: bold;
  line-height: 1.4em;
}

.lower p, .bottom p {
  font-size: .9em;
  line-height: 1.4em;
}

/*more disclaimer word stylings, includes grey bar*/
.bottom-row {
  background-color: #454545;
  max-width: 100%;
}

.bottom {
  color: #fff;
  margin: 0;
  padding: 30px 0 30px 0;
}

/* footer*/
.terms, .privacy, .copyright {
  float: left;
  padding: 10px 10px 10px 0;
}

.nobg {
  background: white;
  border: none;
}

.row {
  margin-bottom: 25px;
}

.grippie {
  display: none;
}

.content {
  /*max-width: 1240px;*/
  margin-left: auto;
  margin-right: auto;
}

/*--Health Card Enrollment Specfic--*/
li.health-card {
  width: 100%;
  text-align: left;
  margin: 15px 0 15px 0!important;
  border-color: #ccc;
}

.plan-price {
  font-size: 2.3em;
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0 0 -10px 0px;
  text-align: center;
}

.plan-details {
  font-size: .9em;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.card-plan {
  font-size: 2em;
  font-weight: bold;
  float: left;
  font-family: "Lato", sans-serif;
  width: 100%;
  color: rgba(42, 129, 186);
  padding: 0;
  margin: 0;
}

.card-description {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.health-card-price-wrapper {
  text-align: center;
}

.details-plan {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0 0 10px 0;
}

.health-card-options {
  margin: 0;
  padding: 0 25px 0 25px;
}

.health-card-btn {
  margin: 0;
}

li.last {
  border-bottom: none;
}

.poopnstuff {
  width: 100%;
  z-index: 600;
  background-color: #eee;
  border: #ccc solid thin;
  position: relative;
  height: 500px;
  float: left;
  margin: 10px 0 0 0;
  padding: 25px;
}

/*--Standard Styles--*/
.top-section h1 {
  font-family: "Lato", sans-serif;
  font-size: 3.5em;
  font-weight: normal;
  letter-spacing: .01em;
}
@media only screen and (max-width: 767px) {
  .top-section h1 {
    font-size: 2.5em;
  }
}
.top-section h2 {
  font-size: 2em;
  font-family: "Lato", sans-serif;
}
@media only screen and (max-width: 767px) {
  .top-section h2 {
    font-size: 1.3em;
  }
}
.top-section h3 {
  font-size: 2em;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .top-section h3 {
    font-size: 1.3em;
  }
}
.top-section p {
  font-size: 1.25em;
  font-family: "Lato";
}
@media only screen and (max-width: 767px) {
  .top-section p {
    font-size: 85%;
  }
}

.row1 {
  height: 100%;
  padding-bottom: 20%!important;
  text-align: center;
}

.section1 {
  background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/travel-bkg1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section1 h1 {
  margin-top: 23%;
  padding: 0 0 20px 0;
}

.section1 h2 {
  text-align: center;
  margin: 0 auto;
}

.section1 h3 {
  color: #fff;
  padding: 0 0 20px 0;
}

.section2 {
  background-color: #7E8285;
}
.section2 p {
  color: #fff;
}

.row2 {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 0!important;
}

.section3 {
  background-color: #fff;
}
.section3 p {
  color: #454545;
}
.section3 h3 {
  color: #4C98D2;
}

.row3 {
  margin-bottom: 0!important;
  padding-top: 5%;
  padding-bottom: 5%;
}

@media only screen and (max-width: 767px) {
  .check-container {
    display: none !important;
  }
}

.section4 {
  background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/blue-fuzzy.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section4 p {
  color: #fff;
}
.section4 h3 {
  color: #fff;
}
.section4 ul {
  color: #fff;
  margin: 0;
  font-size: 1.25em;
}
@media only screen and (max-width: 767px) {
  .section4 ul {
    font-size: 85%;
  }
}
.section4 li {
  margin: 0 0 0 10px;
  list-style-type: circle;
}

.row4 {
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 0!important;
}

.section5 {
  background-color: #fff;
}
.section5 h3 {
  color: #4C98D2;
}
.section5 img {
  padding: 0 20px 20px 0;
}
.section5 p {
  margin: 0 0 0 0;
}

.row5 {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 0!important;
}

@media only screen and (max-width: 767px) {
  .travel-data {
    display: none !important;
  }
}

.footer-section {
  background-color: #CCCCCC;
}

.footer-row {
  margin-bottom: 0!important;
}

.learn-more {
  width: 211px;
  height: 50px;
  background-color: #4C98D2;
  border: 0;
  color: #fff;
  font-size: 1.625em;
  font-family: "Lato", sans-serif;
  margin: 30px 0 0 0;
}
@media only screen and (max-width: 767px) {
  .learn-more {
    width: 135px;
    font-size: 1.4em;
  }
}

.logo-img {
  background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/usap-logo.jpg") no-repeat;
  float: left;
  height: 20px;
  width: 159px;
  margin-top: 15px;
}

.sheader {
  margin-bottom: 0!important;
}

.standard-header {
  height: 50px;
}

.check-square1, .check-square2 {
  background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/check-square.png") no-repeat;
  width: 122px;
  height: 107px;
  position: relative;
  padding: 30px 0 30px 130px;
  margin-bottom: 15px;
}

.easy, .hard {
  font-size: 5.188em;
  font-family: 'Lato';
  font-weight: lighter;
  display: block;
}

.card {
  background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card.png") no-repeat left fixed;
  float: left;
  height: 581px;
  width: 682px;
  position: absolute;
  top: 1871px;
}
@media only screen and (max-width: 1220px) {
  .card {
    background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card-medium.png") no-repeat left fixed;
  }
}
@media only screen and (max-width: 1500px) {
  .card {
    background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card-medium-large.png") no-repeat left fixed;
  }
}
@media only screen and (max-width: 1233px) {
  .card {
    background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card-medium.png") no-repeat left fixed;
  }
}
@media only screen and (max-width: 768px) {
  .card {
    display: none;
  }
}

.stripe {
  background-color: #6B6F72;
  color: #fff;
  margin-bottom: 0!important;
}

.footer-section {
  margin-bottom: 0!important;
}
.footer-section p {
  font-size: .813em;
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  .footer-section p {
    font-size: .715em;
  }
}

.footer {
  margin-bottom: 0!important;
}
.footer p {
  font-size: .813em;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .perks-content {
    width: 100%!important;
    margin-left: 0!important;
    padding-bottom: 20px;
  }
}

.perks-menu ul {
  font-size: 18px;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .perks-menu ul {
    margin: 10px 0 10px 0;
  }
}
.perks-menu li {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .perks-menu li {
    display: inline-block;
    width: 17%;
    font-size: 14px;
  }
}
.perks-menu li a {
  color: #fff;
  padding: 13px;
  margin: 5px 0 5px 0;
  text-align: center;
  border: #fff solid thin;
  display: block;
}
@media only screen and (max-width: 768px) {
  .perks-menu li a {
    padding: 6px;
  }
}
.perks-menu li a:active {
  color: #fff;
  background-color: #7E8285;
}
.perks-menu li a:hover {
  background-color: #eee;
  color: #454545;
  text-shadow: 0 2px 3px #aaa;
}

@media only screen and (max-width: 768px) {
  .perks-menu {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .perks-menu {
    display: none;
  }
}

.perks-menu-small {
  display: none;
}
@media only screen and (max-width: 768px) {
  .perks-menu-small {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .perks-menu-small {
    display: inherit !important;
  }
}

.perks-menu-small ul {
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
.perks-menu-small li {
  width: 18%;
  margin: 3px;
  float: left;
  line-height: 15px;
}
.perks-menu-small li a {
  color: #fff;
  padding: 10px 4px 10px 4px;
  margin: 5px 0 5px 0;
  text-align: center;
  border: #fff solid thin;
  display: block;
}
@media only screen and (max-width: 767px) {
  .perks-menu-small li a {
    min-height: 52px;
  }
}
.perks-menu-small li a:active {
  color: #fff;
  background-color: #7E8285;
}
.perks-menu-small li a:hover {
  background-color: #eee;
  color: #454545;
  text-shadow: 0 2px 3px #aaa;
}

.active {
  display: block;
}

.check {
  position: absolute;
  z-index: 300;
  background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/check.png") no-repeat;
  height: 125px;
  width: 165px;
  margin-top: -25px;
}

.nothanks {
  padding: 20px 0 0 0;
  margin: 0 auto;
}

.webform-component-markup {
  margin: 10px 0 0 0;
}

.webform-component-fieldset {
}

fieldset.webform-component-fieldset {
}

#messages {
  height: 0px;
  text-align: center;
}

#messages ul li.alert {
  background-color: #f66060;
  color: #000;
  padding: 0 20px;
}

#summary-box {
     margin-top: 10px;
    background-color: #efefef;
    padding: 1rem;
}

#summary-box li.registration,
#summary-box li.membership,
#summary-box li.premium,
#summary-box p.price-reg-total {
  display: block;
}

.fieldset-wrapper {
  padding: 20px;
}

.form-wrapper div.fieldset-wrapper .form-wrapper .fieldset-wrapper {
  padding: 0;
}

#webform-component-personal-info--info-col-1 {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

#webform-component-personal-info--info-col-2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  width:40%;
}

#edit-submitted-personal-info-agreement {
  padding: 0 0px;
}

#webform-component-payment--payment-type {
  margin-bottom: 0px;
}

#webform-component-payment--credit-card--card-type {
    background-image: url("../img/visa_mc.png");
    background-position: 20rem 0;
    background-repeat: no-repeat;
    padding-left: 0;
    position:relative;
}

#webform-component-payment--credit-card--card-type::after {
    top: 0.7rem;
    right: 24rem;
}



input.form-radio {
  vertical-align: text-top;
}

#edit-actions--2 {
  /*display: none;*/
}

input.form-text {
  max-width: 90%;
  width: 90%;
  padding: 0 1rem;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
  font-family: "Lato";
  font-weight: 300;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  background: #f6f6f6;
  border: 1px solid #f0f0f0;
  height: 36px;
  line-height: 34px;
  font-size: 16px;
  font-size: 1rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

select {
  width:100%;
  padding: 0.5rem;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
  font-family: "Lato";
  font-weight: 300;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  background: #f6f6f6;
  border: 1px solid #f0f0f0;
  font-size: 1rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
     -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.webform-component-select {
  position:relative;
}

.webform-component-select::after {
    content: '\f0d7';
    font-family: fontAwesome;
    right: 1.5rem;
    position: absolute;
    top: 2.7rem;
      pointer-events: none;

}

.form-type-select {
  position:relative;
}

.form-type-select select{
  width:32%;
}

.form-type-select::after {
    content: '\f0d7';
    font-family: fontAwesome;
    right: 0.7rem;
    position: absolute;
    top: 0;
    pointer-events: none;

}

#edit-submitted-payment-credit-card-card-type {
  width:45%;
}


p.no-thanks {
  text-align: center;
}

#webform-component-affinity-error strong{
  background: #f66060;
  width: 100%;
  display: block;
  padding: 5px 10px;
  color:#000;
}

.form-type-textfield, .form-type-password {
  list-style-type:none;
}

.danger{
  background: #f66060;
  display:block;
  padding:5px 10px;
  margin:20px auto;
  text-align:center;
}

#preloader {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background-color:rgba(255, 255, 255, 0.85);;
z-index:999;
padding-top: 200px;
text-align:center;
}

fieldset[id*='dependent'] {
    border:1px solid #c9c9c9;
    padding:0 10px;
    margin:20px 0;
}

.error-message {
  z-index:9999;
  display:none;
  padding:1rem;
  margin-top:1rem;
}

.error-message.show {
  display:block;
}

.error-message p.error-text, .error-message h3 {
  color:red;
  font-weight:bold;
  padding:0;
  margin:0;
}

.loading {
  display:none;
}