@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;500;700&display=swap');

html, body {
  background: #fefefe;
  /*For Enrollment Path*/
}

p, li, a  {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

a {
  color: rgba(42, 129, 186);
}

.columns.columns {
  margin-left:0;
  margin:0;
}

.columns {
  margin:0;
}

h1.section-heading {
   color:#3c95d7;
   font-size:1.7rem;
   font-weight:700;
}

.nbfsa_logo {
  max-width:150px;
  text-align:right;
}
h2 {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  text-align: center;
  color: #454545;
}

h2.page-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 3rem 0 1rem 0;
  text-align: left;
  margin-left: 1rem;
}

.box-wrapper {
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 5px 1px;
  padding:0;
  margin: 1rem;
}

.box {
  padding:2rem;
}

.box-bar {
  width:100%;
  padding:0.5rem 1rem 0.01rem 1rem;
  background-color:#f8f9fc;
}

.box-bar p {
  font-weight:bold;
  font-size:0.8rem;
  color:#999;
}

.box.doc-review p, .box.doc-review a {
    padding:0;
    margin:0;
}

.border-top {
}

header {
  background-color:#9d57b5;
  padding:1rem;
}

.purple-bkg {
  background-color:#9d57b5;
}

.basic-info ul li span.label{
  margin:0;
  padding:0;
  line-height: 0.9rem;
}

.basic-info ul li span {
  display:block;
  float:left;
  width:100%;
  font-size:0.9rem;
}

ul{
  margin:0
  padding:0;
}

ul.pdf-review {
  margin:1rem 0 0 0;
  padding:0;
}

ul.pdf-review li {
  margin:1rem 0;
  padding:0;
}

ul li.dependant1, ul li.dependant2, ul li.dependant3, ul li.dependant4, ul li.dependant5, ul li.dependant6 {
  border-bottom:rgba(0,0,0,0.1) solid thin;
  padding:2rem 0;
  display:none;
}

ul li.dependant1 ul.dep-info-wrap,ul li.dependant2 ul.dep-info-wrap, ul li.dependant3 ul.dep-info-wrap, ul li.dependant4 ul.dep-info-wrap, ul li.dependant5 ul.dep-info-wrap, ul li.dependant6 ul.dep-info-wrap  {
  display:flex;
  justify-content: space-around;
  padding:0;
  margin:0;
}

li.dependant:last-child {
  border-bottom:none;
}

ul.section-wrap {
  display:flex;
  justify-content: space-around;
  padding:0;
  margin:0;
}

ul.section-wrap li ul {
  margin:0;
  padding:0;
}

ul.section-wrap li ul li ul {
  margin:0;
  padding:0;
}

ul.section-wrap li ul li ul li {
  margin:1rem 0;
  padding:1.5rem 0;
}

ul.section-wrap li ul li ul li:first-child {
  margin:0 0;
}

ul.plan-info-wrap {
  padding:0;
  margin:0;
  justify-content:start;
}

ul.plan-info-wrap li.plan-info_text {
  margin:1rem 0 1rem 0;
  margin-right:2rem;
}


.box-section {
  padding-top:2rem;
  border-top:rgba(0,0,0,0.1) solid thin;
  margin:1.25rem 0;

}

#webform-client-form-4807 {
  border-top:rgba(0,0,0,0.1) solid thin;
  margin:2rem 0;
  padding:2rem;
}

#webform-client-form-4807 label {
  color:#4d4c5b;
  font-weight:700;
  clear:both;
}

.check-fields {
  margin-bottom:2rem;
}

#webform-client-form-4807 input, #webform-client-form-4807 select {
  border: #e1e0e4 1px solid;
}

#webform-component-payment--check .fieldset-wrapper {
 padding: 1rem 0 2rem 3rem;
}

.form-actions.form-wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
}

.form-item, .form-actions {
  margin:1rem 0 0 0;
  padding:0 0 1rem 0;
}

img.check {
  max-width: 90%;
  margin-left: 3rem;
}

.error-message {
  z-index:9999;
  display:none;
  padding:1rem;
  margin-top:1rem;
}

.error-message.show {
  display:block;
}

.error-message p.error-text, .error-message h3 {
  color:red;
  font-weight:bold;
  padding:0;
  margin:0;
}

.loading {
  display:none;
}

.danger{
  background: #f66060;
  display:block;
  padding:5px 10px;
  margin:20px auto;
  text-align:center;
}

#preloader {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background-color:rgba(255, 255, 255, 0.85);;
z-index:999;
padding-top: 200px;
text-align:center;
}

select {
  border: #e1e0e4 1px solid !important;
  width:90%;
  padding: 0.5rem;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
  font-weight: 300;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  font-size: 1rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
     -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

input.form-text {
  border: #e1e0e4 1px solid !important;
  max-width: 90%;
  width: 90%;
  padding: 0 1rem;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
  font-weight: 300;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  height: 36px;
  line-height: 34px;
  font-size: 16px;
  font-size: 1rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

#messages ul li.alert {
  background-color: #f66060;
  color: #000;
  padding: 0 20px;
}

/* footer*/
.terms, .privacy, .copyright {
  float: left;
  padding: 10px 10px 10px 0;
}

.grippie {
  display: none;
}

.content {
  /*max-width: 1240px;*/
  margin-left: auto;
  margin-right: auto;
}

/*more disclaimer word stylings, includes grey bar*/
.bottom-row {
  background-color: #454545;
  max-width: 100%;
}

.bottom {
  color: #fff;
  margin: 0;
  padding: 30px 0 30px 0;
}

.summary-disclaimer {
  font-size: .8em;
}

/*lower disclaimer word stylings*/
.lower h4 {
  font-size: .9em;
  font-weight: bold;
  line-height: 1.4em;
}

.lower p, .bottom p {
  font-size: .9em;
  line-height: 1.4em;
}

.sub-link {
  color: rgba(42, 129, 186);
  text-align: center;
  font-size: .9em;
  text-decoration: underline;
  margin: 10px 0 20px 0;
}

.add-btn-next, #edit-submit--2, #edit-submit, .add-dep, .remove-dep {
  background-color: rgba(42, 129, 186);
  width: 50%;
  height: 50px;
  margin: 3rem 0 2rem 0;
  font-size: 1.2em;
  color: #ffffff;
  border: 0;
  float: right;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}