
html, body {
  background: #fefefe;
  /*For Enrollment Path*/
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  html, body {
    font-size: 90%;
  }
}

p {
  font-family: "open sans";
}

a {
  color: #389DEC;
}



h1 {
  font-family: "open sans", sans-serif;
  padding: 0;
  margin: 30px 0 0 0;
  text-align: center;
  color: #fff;
  font-size: 3.086em;
  letter-spacing: .03em;
  font-weight: bold;
}

.head2 h1 {
    font-family: "open sans", sans-serif;
  padding: 0;
  margin: 60px 0 0 0;
  text-align: center;
  color: #fff;
  font-size: 3.086em;
  letter-spacing: .03em;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 1.6em;
    padding: 10px 0 5px 0px;
  }
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  text-align: center;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  h2 {
    font-size: .9em;
    padding: 5px;
  }
}

/* Header-Blue Top Area etc.*/
.head {
  background-color: #389DEC;
  padding: 20px 0 20px 0;
  height: 165px;
  margin: 0 0 30px 0;
}



@media only screen and (max-width: 767px) {
  .head {
    padding: 0 0 10px 0;
    height: auto;
  }
}

/* Summary contains all the "shopping cart" styles Right-Col */
/* summary-box needs space when stacked on small devices */
@media only screen and (max-width: 767px) {
  .summary-box {
    clear: both;
    padding-top: 10px!important;
  }
}



.head2 {
  background-color: #389DEC;
  padding: 20px 0 20px 0;
  height: 210px;
  margin: 0;
}



.summary-box h3 {
  font-size: 1.5em;
  background-color: #eeeeee;
  width: 100%;
  color: #454545;
  padding: 10px 0 10px 20px;
  letter-spacing: .05em;
}

.summary-title {
  font-family: "open sans", sans-serif;
  font-weight: bold;
}

.summary-box--container {
  padding: 0 0 0 20px;
}

.summary-box--heading {
  color: #2F6E99;
  font-family: "open sans", sans-serif;
  padding: 10px 0 0 0;
  font-size: 1.3em;
}

.summary-box--result {
  color: #454545;
}

.price-total {
  border-top: #454545 thin solid;
  border-bottom: #454545 thin solid;
  font-family: "open sans", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 0 10px 20px;
}

.total-price {
  float: right;
  margin: 0 10% 0;
}

ul.form li {
  margin-bottom: 10px;
}

.poop-wrapper {
  margin-top: 25px;
}

@media only screen and (max-width: 767px) {
  .poop-wrapper p {
    padding: 0 10px 0 10px;
  }
}

.gender {
  float: left;
  margin: 10px 10px 10px 0;
}

.gender-select {
  width: 20px!important;
  height: 20px!important;
}

.esig {
  font-family: "open sans", sans-serif;
  font-size: 1.2em;
}

.signature-agree {
}

.signature-line {
  font-size: .8em;
  margin-top: 0;
}

/* Info Box contains all the general information styles */
.info-box {
  float: left;
  background-color: #eeeeee;
  width: 100%;
}



.webform-client-form h3 {
  padding: 20px;
  font-family: "open sans", sans-serif;
  font-size: 1.5em;
  letter-spacing: .03em;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .webform-client-form h3 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 767px) {
  .info-box ul {
    margin: 0;
    padding: 0 10px 0 10px;
  }
}

.left {
  border-right: #454545 1px solid;
  padding-right: 30px;
}

@media only screen and (max-width: 767px) {
  .left {
    padding: 0 10px 0 10px;
    border: none;
  }
}

@media only screen and (max-width: 767px) {
  .right {
    padding: 0 10px 0 10px;
  }
}

.info-box__content {
  /*margin: 15px 0 15px 0;*/
}

label {
  font-family: "open sans", sans-serif;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
  margin-bottom:5px;
}



.form-item-submitted-personal-info-agreement-1 label,
.form-item-submitted-payment-billing-different-1 label {
  font-size: 1em;
  font-weight: normal;
  font-family: "open sans";
}

p.disclaimer {
  float: left;
}

/* General Information Title Styles "Upgrade, Payment etc."*/
.webform-client-form .inactive {
  background-color: #eeeeee;
  color: #454545;
  -webkit-transition-property: #eeeeee;
  /* Saf3.2+, Chrome */
  -webkit-transition-duration: 1s;
  -o-transition-property: #eeeeee;
  /* Opera 10.5+ */
  -o-transition-duration: 1s;
  -ms-transition-property: #eeeeee;
  /* IE10? */
  -ms-transition-duration: 1s;
  transition-property: #eeeeee;
  /* Standard */
  transition-duration: 1s;
  cursor:pointer;
}

.webform-client-form .active {
  background-color: #28B999;
  color: #fff;
  -webkit-transition-property: #454545;
  /* Saf3.2+, Chrome */
  -webkit-transition-duration: 1s;
  -o-transition-property: #454545;
  /* Opera 10.5+ */
  -o-transition-duration: 1s;
  -ms-transition-property: #454545;
  /* IE10? */
  -ms-transition-duration: 1s;
  transition-property: #454545;
  /* Standard */
  transition-duration: 1s;
}

.info-title:hover {

}

#webform-component-payment--credit-card--cc-number{
  margin-top:30px;
}

#webform-component-payment--credit-card--cc-exp-month{
  float:left;
  margin-right: 20px;
  margin-top: -5px;
}

#webform-component-payment--credit-card--expiration-year {
  float:left;
  margin-top: -5px;
}

/*Additional Coverage Styles"*/
ul.coverage-option {
  margin:0 auto;
  width: 50%;
}

li.coverage-option {
  list-style-type: none;
  !border-bottom: #626061 0.5px solid;
  !width: 70%;
  text-align: right;
  display: block;
  margin: 0 auto;
  padding: 19px;
}

/*The Buttons Go Wacky when scaled down"*/
@media only screen and (max-width: 768px) {
  li.coverage-option {
    padding: 10px;
    width: none;
    border-bottom: 0;
    border-top: #626061 0.5px solid;
  }
}

@media only screen and (max-width: 767px) {
  li.coverage-option {
    padding: 10px;
    width: none;
    border-bottom: 0;
    border-top: #626061 0.5px solid;
    margin-bottom: 0;
  }
}

.sub-title {
  font-family: "open sans", sans-serif;
  font-size: 1.1em;
  text-align: center;
  margin: 10px 30px 0 30px;
  clear: both;
  padding: 25px;
  letter-spacing: .02em;
}

@media only screen and (max-width: 320px) {
  .sub-title {
    font-size: 1em;
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

.price-option {
  text-align: right;
  font-family: "open sans", sans-serif;
  font-size: 1.7em;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .price-option {
    display: block;
  }
}

.add-btn {
  background-color: #389DEC;
  width: 110px;
  height: 40px;
  margin: 0 0 0 50px;
  font-famly: "open sans";
  font-size: 1em;
  color: #fff;
  border: 0;
  cursor:pointer;
}

.add-btn:hover{
  background-color:#125F99;
}

/*The Buttons Go Wacky when scaled down"*/
@media only screen and (max-width: 768px) {
  .add-btn {
    margin: 6px 0 6px 5px;
  }
}

@media only screen and (max-width: 320px) {
  .add-btn {
    margin: 6px 0 6px 5px;
  }
}

.add-btn-next,
#edit-submit--2 {
  background-color: #FCDD0A;
  width: 120px;
  height: 50px;
  margin: 20px 0 20px 0;
  font-size: 1.2em;
  color: #454545;
  border: 0;
  font-weight: bold;
  cursor: pointer;
}

#webform-component-personal-info--next {
  margin-right: 40px;
}

#webform-component-personal-info--info-col-2--birth-date {
  margin-top: 40px;
}

#webform-component-personal-info--info-col-2--gender {
  margin-top:40px;
}

/*The Buttons Go Wacky when scaled down"*/
@media only screen and (max-width: 768px) {
  .add-btn-next {
    margin: 6px 0 6px 5px;
  }
}

@media only screen and (max-width: 320px) {
  .add-btn-next {
    margin: 6px 10px 6px 5px;
  }
}

.sub-link {
  color: #2F6E99;
  text-align: center;
  font-size: .9em;
  text-decoration: underline;
  margin: 10px 0 20px 0;
}

/*The link is just to big when you go to a phone"*/
@media only screen and (max-width: 320px) {
  .sub-link {
    font-size: .7em;
  }
}

.summary-disclaimer {
  font-size: .8em;
}

/*lower disclaimer word stylings*/
.lower h4 {
  font-size: .9em;
  font-weight: bold;
  line-height: 1.4em;
}

.lower p, .bottom p {
  font-size: .9em;
  line-height: 1.4em;
}

/*more disclaimer word stylings, includes grey bar*/
.bottom-row {
  background-color: #454545;
  max-width: 100%;
}

.bottom {
  color: #fff;
  margin: 0;
  padding: 30px 0 30px 0;
}

/* footer*/
.terms, .privacy, .copyright {
  float: left;
  padding: 10px 10px 10px 0;
}

.nobg {
  background: white;
  border: none;
}

.row {
  margin-bottom: 25px;
}

.grippie {
  display: none;
}

.content {
  /*max-width: 1240px;*/
  margin-left: auto;
  margin-right: auto;
}

/*--Health Card Enrollment Specfic--*/
li.health-card {
  width: 100%;
  text-align: left;
  margin: 15px 0 15px 0!important;
  border-color: #ccc;
}

.plan-price {
  font-size: 2.3em;
  font-family: "open sans", sans-serif;
  padding: 0;
  margin: 0 0 -10px 0px;
  text-align: center;
}

.plan-details {
  font-size: .9em;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.card-plan {
  font-size: 2em;
  font-weight: bold;
  float: left;
  font-family: "open sans", sans-serif;
  width: 100%;
  color: #2F6E99;
  padding: 0;
  margin: 0;
}

.card-description {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.health-card-price-wrapper {
  text-align: center;
}

.details-plan {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0 0 10px 0;
}

.health-card-options {
  margin: 0;
  padding: 0 25px 0 25px;
}

.health-card-btn {
  margin: 0;
}

li.last {
  border-bottom: none;
}

.poopnstuff {
  width: 100%;
  z-index: 600;
  background-color: #eee;
  border: #ccc solid thin;
  position: relative;
  height: 500px;
  float: left;
  margin: 10px 0 0 0;
  padding: 25px;
}

/*--Standard Styles--*/
.top-section h1 {
  font-family: "open sans", sans-serif;
  font-size: 3.5em;
  font-weight: normal;
  letter-spacing: .01em;
}
@media only screen and (max-width: 767px) {
  .top-section h1 {
    font-size: 2.5em;
  }
}
.top-section h2 {
  font-size: 2em;
  font-family: "open sans", sans-serif;
}
@media only screen and (max-width: 767px) {
  .top-section h2 {
    font-size: 1.3em;
  }
}
.top-section h3 {
  font-size: 2em;
  font-family: "open sans", sans-serif;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .top-section h3 {
    font-size: 1.3em;
  }
}
.top-section p {
  font-size: 1.25em;
  font-family: "open sans";
}
@media only screen and (max-width: 767px) {
  .top-section p {
    font-size: 85%;
  }
}

.row1 {
  height: 100%;
  padding-bottom: 20%!important;
  text-align: center;
}

.section1 {
  background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/travel-bkg1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section1 h1 {
  margin-top: 23%;
  padding: 0 0 20px 0;
}

.section1 h2 {
  text-align: center;
  margin: 0 auto;
}

.section1 h3 {
  color: #fff;
  padding: 0 0 20px 0;
}

.section2 {
  background-color: #7E8285;
}
.section2 p {
  color: #fff;
}

.row2 {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 0!important;
}

.section3 {
  background-color: #fff;
}
.section3 p {
  color: #454545;
}
.section3 h3 {
  color: #4C98D2;
}

.row3 {
  margin-bottom: 0!important;
  padding-top: 5%;
  padding-bottom: 5%;
}

@media only screen and (max-width: 767px) {
  .check-container {
    display: none !important;
  }
}

.section4 {
  background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/blue-fuzzy.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section4 p {
  color: #fff;
}
.section4 h3 {
  color: #fff;
}
.section4 ul {
  color: #fff;
  margin: 0;
  font-size: 1.25em;
}
@media only screen and (max-width: 767px) {
  .section4 ul {
    font-size: 85%;
  }
}
.section4 li {
  margin: 0 0 0 10px;
  list-style-type: circle;
}

.row4 {
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 0!important;
}

.section5 {
  background-color: #fff;
}
.section5 h3 {
  color: #4C98D2;
}
.section5 img {
  padding: 0 20px 20px 0;
}
.section5 p {
  margin: 0 0 0 0;
}

.row5 {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 0!important;
}

@media only screen and (max-width: 767px) {
  .travel-data {
    display: none !important;
  }
}

.footer-section {
  background-color: #CCCCCC;
}

.footer-row {
  margin-bottom: 0!important;
}

.learn-more {
  width: 211px;
  height: 50px;
  background-color: #4C98D2;
  border: 0;
  color: #fff;
  font-size: 1.625em;
  font-family: "open sans", sans-serif;
  margin: 30px 0 0 0;
}
@media only screen and (max-width: 767px) {
  .learn-more {
    width: 135px;
    font-size: 1.4em;
  }
}

.logo-img {
  background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/usap-logo.jpg") no-repeat;
  float: left;
  height: 20px;
  width: 159px;
  margin-top: 15px;
}

.sheader {
  margin-bottom: 0!important;
}

.standard-header {
  height: 50px;
}

.check-square1, .check-square2 {
  background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/check-square.png") no-repeat;
  width: 122px;
  height: 107px;
  position: relative;
  padding: 30px 0 30px 130px;
  margin-bottom: 15px;
}

.easy, .hard {
  font-size: 5.188em;
  font-family: 'open sans';
  font-weight: lighter;
  display: block;
}

.card {
  background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card.png") no-repeat left fixed;
  float: left;
  height: 581px;
  width: 682px;
  position: absolute;
  top: 1871px;
}
@media only screen and (max-width: 1220px) {
  .card {
    background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card-medium.png") no-repeat left fixed;
  }
}
@media only screen and (max-width: 1500px) {
  .card {
    background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card-medium-large.png") no-repeat left fixed;
  }
}
@media only screen and (max-width: 1233px) {
  .card {
    background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card-medium.png") no-repeat left fixed;
  }
}
@media only screen and (max-width: 768px) {
  .card {
    display: none;
  }
}

.stripe {
  background-color: #6B6F72;
  color: #fff;
  margin-bottom: 0!important;
}

.footer-section {
  margin-bottom: 0!important;
}
.footer-section p {
  font-size: .813em;
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  .footer-section p {
    font-size: .715em;
  }
}

.footer {
  margin-bottom: 0!important;
}
.footer p {
  font-size: .813em;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .perks-content {
    width: 100%!important;
    margin-left: 0!important;
    padding-bottom: 20px;
  }
}

.perks-menu ul {
  font-size: 18px;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .perks-menu ul {
    margin: 10px 0 10px 0;
  }
}
.perks-menu li {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .perks-menu li {
    display: inline-block;
    width: 17%;
    font-size: 14px;
  }
}
.perks-menu li a {
  color: #fff;
  padding: 13px;
  margin: 5px 0 5px 0;
  text-align: center;
  border: #fff solid thin;
  display: block;
}
@media only screen and (max-width: 768px) {
  .perks-menu li a {
    padding: 6px;
  }
}
.perks-menu li a:active {
  color: #fff;
  background-color: #7E8285;
}
.perks-menu li a:hover {
  background-color: #eee;
  color: #454545;
  text-shadow: 0 2px 3px #aaa;
}

@media only screen and (max-width: 768px) {
  .perks-menu {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .perks-menu {
    display: none;
  }
}

.perks-menu-small {
  display: none;
}
@media only screen and (max-width: 768px) {
  .perks-menu-small {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .perks-menu-small {
    display: inherit !important;
  }
}

.perks-menu-small ul {
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
.perks-menu-small li {
  width: 18%;
  margin: 3px;
  float: left;
  line-height: 15px;
}
.perks-menu-small li a {
  color: #fff;
  padding: 10px 4px 10px 4px;
  margin: 5px 0 5px 0;
  text-align: center;
  border: #fff solid thin;
  display: block;
}
@media only screen and (max-width: 767px) {
  .perks-menu-small li a {
    min-height: 52px;
  }
}
.perks-menu-small li a:active {
  color: #fff;
  background-color: #7E8285;
}
.perks-menu-small li a:hover {
  background-color: #eee;
  color: #454545;
  text-shadow: 0 2px 3px #aaa;
}

.active {
  display: block;
  background-color: #eee;
}

.check {
  position: absolute;
  z-index: 300;
  background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/check.png") no-repeat;
  height: 125px;
  width: 165px;
  margin-top: -25px;
}

.nothanks {
  padding: 20px 0 0 0;
  margin: 0 auto;
}

.webform-component-markup {
  margin: 10px 0 0 0;
        

}

.webform-component-fieldset {
  background-color: #fff;

}

fieldset.webform-component-fieldset {

}

#messages {
  height: 0px;
  text-align: center;
}

#messages ul li.alert {
  background-color: #f66060;
  color: #000;
  padding: 0 20px;
}

#summary-box {
  margin-top: 10px;  
}

#summary-box li.registration,
#summary-box li.membership,
#summary-box li.premium,
#summary-box p.price-reg-total {
  display: none;
}

.fieldset-wrapper {
  padding: 0 20px 20px 20px;

}

.form-wrapper div.fieldset-wrapper .form-wrapper .fieldset-wrapper {
  padding: 0;  
}

#webform-component-personal-info--info-col-1 {
  vertical-align: top;
}

#webform-component-personal-info--info-col-2 {
  vertical-align: top;

}

#edit-submitted-personal-info-agreement {
  padding: 0 0px;
}

#webform-component-payment--payment-type {
  margin-bottom: 0px;
}

#webform-component-payment--credit-card--card-type {
  background-image: url('../img/visa_mc.png');
  background-repeat: no-repeat;
  padding-left: 100px;
  height:31px;
}

input.form-radio {
  vertical-align: text-top;
}

#edit-actions--2 {
  display: none;
}

input.form-text {
  max-width: 90%;
  width: 90%;
  padding: 0;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
  font-family: "Open Sans";
  font-weight: 300;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  background: #fff;
  border: 1px solid #d8d8d8;
  height: 36px;
  line-height: 34px;
  font-size: 16px;
  font-size: 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

select {
  font-size: 16px;
  font-size: 1rem;
}

p.no-thanks {
  text-align: center;
}

.free-stuff {
  border-bottom:#efefef solid 1px;
  margin-bottom:20px;
}

ul.free {
    list-style-type: none;
    padding: 0;
    margin:0;
}

ul.free li {
      text-align: center;

}

ul.free li img {
    margin: 0;
    padding: 2px 10px 2px 2px;
    vertical-align: middle;
    width:40px;
    height:auto;
}

ul.free li span {
    vertical-align: middle;
    font-size:15px; 
    font-weight:400;
}

.row-free {
  margin-bottom:0;
  padding:16px 0 10px 0;
}

.previous {
display: block;
cursor: pointer;
width:100%;


}

/*
Track C Specific CSS
*/

/*.header {
background-color:#ffffff;
}*/

.head-img {
  /*background-image:url('/sites/all/themes/custom/bare/img/car.png');*/
  height:500px;
  width:500px;
}

h1.groupon {
text-align: center;
margin:0 0 4% 0;
color:#dddddd;
letter-spacing: 2px;
line-height: 1.2em;
text-shadow:#444 1px 1px 2px;
font-size:3.8em;
}


@media (max-width: 770px) {
  h1.groupon {
    font-size:2.8em;
  }
  }


h2.groupon {
text-align: center;
margin:0 auto;
color:#ffffff;
font-weight:500;
letter-spacing: 1px;
line-height: 1.6em;
font-size:1.3em;
}

h3.groupon {
text-align: center;
margin:20px 0 10px 0;
color:#ffffff;
}

p.groupon {
text-align: center;
margin:0;
padding:0;
color:#ffffff;
}

.group-text {
  margin-top:8%;
  padding:40px;
  width:100%;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 15px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 15px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 15px; 
  padding:40px 0 40px 0;
  position:absolute;
  top:0;
  left:0;
  background:  
  linear-gradient(
      rgba(40, 185, 153, 0.70), 
      rgba(40, 185, 153, 0.70)
    );
}

@media (max-width: 1062px) {
  .group-text {
  margin:0;
  border-radius: 0;
  width:100% !important;
  margin-left:0 !important;
  background:none;
  }
}

@media (max-width: 800px) {
  .topheading {
    min-height:500px;
  }
}

@media (max-width: 400px) {
  .topheading {
    min-height:600px;
  }
}

.groupsec2 h3 {
  text-align: center;
  margin:10% 0 5% 0;
}

.grouplist h4 {
  font-size:1.2em;
  margin:0 0 10px 0;
  padding:0;
  color:#28B999;
  font-weight:600;
}


.grouplist ul {
margin:0;
padding:0;
}

.grouplist li {
text-align: center;
padding:0;
display:inline-block;
border:#efefef solid thin;
padding:30px;
min-height: 200px;
background-color:#fff;
box-shadow: #efefef 1px 1px 3px;

}

.grouplist {
  padding:5% 0 5% 0;
}

.space {
  height:100px;
}


img {
    width: 100%;
    max-height: 200px;
 }
  
 figure {
     margin: 0;
     padding: 0;
     max-height: 200px;
     position: relative;
      display: block;
      cursor: pointer;
      overflow: hidden;

  }
   
  figure:hover figcaption {
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      filter: alpha(opacity=100);
      opacity: 1;
      top: 0;
  }
   
  figcaption {
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      filter: alpha(opacity=0);
      opacity: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(40,185,153,.9);
      color: #fff;
      -webkit-transition: all .9s ease;
      -moz-transition: all .9s ease;
      -o-transition: all .9s ease;
      -ms-transition: all .9s ease;
      transition: all .9s ease;
      -webkit-transition-delay: .5s;
      -moz-transition-delay: .5s;
      -o-transition-delay: .5s;
      -ms-transition-delay: .5s;
      transition-delay: .5s;
      max-height: 200px;
        border-radius:15px;

  }
   
  figure img {
      -webkit-transition: all 1.5s;
      -moz-transition: all 1.5s;
      -o-transition: all 1.5s;
      -ms-transition: all 1.5s;
      transition: all 1.5s;
      -webkit-transition-delay: .5s;
      -moz-transition-delay: .5s;
      -o-transition-delay: .5s;
      -ms-transition-delay: .5s;
      transition-delay: .5s;
  }
   
  figure:hover img {
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -o-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
  }
   
  figcaption h3 {
      font-family: 'Open sans';
      font-weight: 400;
      color: #fff;
      padding: 0 20px;
      margin-bottom: 0;
      position: relative;
      right: 100%;
      margin-top: 10%;
      font-size: 1.5em;
      text-align: center;
  }
   
  figcaption p {
      font-family: 'Open sans';
      padding: 10px 20px;
      margin-bottom: 0;
      margin-top: 0;
      position: relative;
      left: 100%;
      font-size: 13px;
      text-align: center;
      color:#454545;
  }
   
  figure:hover h3,figure:hover p {
      left: 0;
  }
   
  figcaption a {
      color: #fff;
      border: 2px solid #fff;
      padding: 4px 10px;
      text-decoration: none;
  }
   
  figcaption a:hover {
      color: #4f5856;
     background: #fff;
 }

 .ben {
  border:#dddddd solid 1px;
  border-radius:15px;
  width:100%;
  margin:0 0 20px 0;
 }


 .coolbackground {
    /*background:  
    linear-gradient(
      rgba(40, 185, 153, 0.70), 
      rgba(40, 185, 153, 0.70)
    ),
    url('/sites/all/themes/custom/bare/img/p4.png');*/
    padding:5% 0 5% 0;
    position: relative;
 }



.vidContain {
    width:100%; 
    position:relative;
    overflow:hidden;
  
  
}

.vid {
    position: absolute; 
    top: 0; left:0;
    width: 100%; 
    z-index: -1;
    float:left;
}   

.topheading{
  top:0;
  text-align: center;
  background-color:rgba(100,100,100,0.6);
  width:100%;
  background: url('sites/all/themes/custom/bare/img/road.jpg');
  background-size:cover;
  background-repeat: no-repeat;

} 

.learnmore {
  text-align: center;
  margin:50px 0 30px 0;
  background-color:transparent !important;
  border:#ffffff solid thin !important;
  height:58px;

}

.learnmore:hover {
    background-color: #46DBB8 !important;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

video::-webkit-media-controls {
  display:none !important;
}
video::-webkit-media-controls-enclosure {
  display:none !important;
}

::-webkit-media-controls {
  display:none !important;
}

.reg h3 {
  margin:0 0 0px 0;
  font-size:1.3em;
  line-height: 1.4em;
  color:#ffffff;
}

.reg p {
  margin:20px 0 40px 0;
  font-size:.9em;
}

.reg h2 {
float:left;
font-size:3em;
color:#ffffff;
margin:0 0 60px 0;
}

.reg {
    padding:0 0 5% 0;
    background-color: rgb(40, 185, 153) 
}

.reg img {
  margin:0 20px 20px 0;
  width:225px;

}

hr {
  border:#ededed solid thin;
  margin:10px 0 20px 0;
}

.lower {
  border-top:#ededed solid thin;
  padding:0 0 0 0;
}

.line {
  border-top:#fff solid thin;
  width:30%;
  text-align: center;
  margin:0 auto;
  padding:30px 0 0 0;
}

.alt {
  margin-bottom:0;
}

.title {
  padding:5% 0 1% 0; 
  width:100%; 
  text-align:center; 
  font-size:3em; 
  font-weight:600; 
  color:#2ec6a2; 
  text-shadow:#efefef 1px 1px 1px;
}


.subtitle {
  text-align:center; 
  padding:0 0 2% 0; 
  margin:2% 0 2% 0; 
  color:#bbbbbb;
  font-size:1.4em;
  line-height: 1.5em;
}

.right {
  padding-left:40px;
}


.active {
  display:inline;
  background-color:transparent;
}


.reg a {
  color:#454545;
  text-decoration: none;
}

.reg a:hover {
  text-decoration: underline;
}



