
html, body {
    background: #fefefe;
    /*For Enrollment Path*/
  }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    html, body {
      font-size: 90%;
    }
  }

  p {
    font-family: "open sans";
  }

  a {
    color: #747A8C;
  }

  h1 {
    font-family: "open sans", sans-serif;
    padding: 0;
    margin: 30px 0 0 0;
    text-align: center;
    color: #fff;
    font-size: 3.086em;
    letter-spacing: .03em;
    font-weight: bold;
  }

  h1.text-logo {
      font-size:3rem;
      color:#454545;

  }

  h1.text-logo span {
    color: #747A8C;

  }

  .head2 h1 {
      font-family: "open sans", sans-serif;
    padding: 0;
    margin: 60px 0 0 0;
    text-align: center;
    color: #fff;
    font-size: 3.086em;
    letter-spacing: .03em;
    font-weight: bold;
  }

  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 1.6em;
      padding: 10px 0 5px 0px;
    }
  }

  h2 {
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    text-align: center;
    color: #fff;
  }

  @media only screen and (max-width: 767px) {
    h2 {
      font-size: .9em;
      padding: 5px;
    }
  }

  /* Header-Blue Top Area etc.*/
  .head {
    background-color: #747A8C;
    padding: 20px 0 20px 0;
    height: 165px;
    margin: 0 0 30px 0;
  }



  @media only screen and (max-width: 767px) {
    .head {
      padding: 0 0 10px 0;
      height: auto;
    }
  }

  /* Summary contains all the "shopping cart" styles Right-Col */
  /* summary-box needs space when stacked on small devices */
  @media only screen and (max-width: 767px) {
    .summary-box {
      clear: both;
      padding-top: 10px!important;
    }
  }



  .head2 {
    background-color: #747A8C;
    padding: 20px 0 20px 0;
    height: 210px;
    margin: 0;
  }



  .summary-box h3 {
    font-size: 1.5em;
    background-color: #eeeeee;
    width: 100%;
    color: #454545;
    padding: 10px 0 10px 20px;
    letter-spacing: .05em;
  }

  .summary-title {
    font-family: "open sans", sans-serif;
    font-weight: bold;
  }

  .summary-box--container {
    padding: 0 0 0 20px;
  }

  .summary-box--heading {
    color: #2F6E99;
    font-family: "open sans", sans-serif;
    padding: 10px 0 0 0;
    font-size: 1.3em;
  }

  .summary-box--result {
    color: #454545;
  }

  .price-total {
    border-top: #454545 thin solid;
    border-bottom: #454545 thin solid;
    font-family: "open sans", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0 10px 20px;
  }

  .total-price {
    float: right;
    margin: 0 10% 0;
  }

  ul.form li {
    margin-bottom: 10px;
  }

  .poop-wrapper {
    margin-top: 25px;
  }

  @media only screen and (max-width: 767px) {
    .poop-wrapper p {
      padding: 0 10px 0 10px;
    }
  }

  .gender {
    float: left;
    margin: 10px 10px 10px 0;
  }

  .gender-select {
    width: 20px!important;
    height: 20px!important;
  }

  .esig {
    font-family: "open sans", sans-serif;
    font-size: 1.2em;
  }

  .signature-agree {
  }

  .signature-line {
    font-size: .9em;
    margin-top: 35px;
  }

  /* Info Box contains all the general information styles */
  .info-box {
    float: left;
    background-color: #eeeeee;
    width: 100%;
  }



  .webform-client-form h3 {
    padding: 20px;
    font-family: "open sans", sans-serif;
    font-size: 1.5em;
    letter-spacing: .03em;
    font-weight: bold;
  }

  @media only screen and (max-width: 767px) {
    .webform-client-form h3 {
      font-size: 1.2em;
    }
  }

  @media only screen and (max-width: 767px) {
    .info-box ul {
      margin: 0;
      padding: 0 10px 0 10px;
    }
  }

  .left {
    border-right: #454545 1px solid;
    padding-right: 30px;
  }

  @media only screen and (max-width: 767px) {
    .left {
      padding: 0 10px 0 10px;
      border: none;
    }
  }

  @media only screen and (max-width: 767px) {
    .right {
      padding: 0 10px 0 10px;
    }
  }

  .info-box__content {
    /*margin: 15px 0 15px 0;*/
  }

  label {
    font-family: "open sans", sans-serif;
    font-size: 1.3em;
    padding: 0;
    margin: 0;
    margin-bottom:5px;
  }



  .form-item-submitted-personal-info-agreement-1 label,
  .form-item-submitted-payment-billing-different-1 label {
    font-size: 1em;
    font-weight: normal;
    font-family: "open sans";
  }

  p.disclaimer {
    float: left;
  }

  /* General Information Title Styles "Upgrade, Payment etc."*/
  .webform-client-form .inactive {
    background-color: #eeeeee;
    color: #454545;
    -webkit-transition-property: #eeeeee;
    /* Saf3.2+, Chrome */
    -webkit-transition-duration: 1s;
    -o-transition-property: #eeeeee;
    /* Opera 10.5+ */
    -o-transition-duration: 1s;
    -ms-transition-property: #eeeeee;
    /* IE10? */
    -ms-transition-duration: 1s;
    transition-property: #eeeeee;
    /* Standard */
    transition-duration: 1s;
    cursor:pointer;
  }

  .webform-client-form .active {
    background-color: #454545;
    color: #fff;
    -webkit-transition-property: #454545;
    /* Saf3.2+, Chrome */
    -webkit-transition-duration: 1s;
    -o-transition-property: #454545;
    /* Opera 10.5+ */
    -o-transition-duration: 1s;
    -ms-transition-property: #454545;
    /* IE10? */
    -ms-transition-duration: 1s;
    transition-property: #454545;
    /* Standard */
    transition-duration: 1s;
  }

  .info-title:hover {

  }

  #webform-component-payment--credit-card--cc-number{
    margin-top:30px;
  }

  #webform-component-payment--credit-card--cc-exp-month{
    float:left;
    margin-right: 20px;
    margin-top: -5px;
  }

  #webform-component-payment--credit-card--expiration-year {
    float:left;
    margin-top: -5px;
  }

  /*Additional Coverage Styles"*/
  ul.coverage-option {
    margin:0 auto;
    width: 50%;
  }

  li.coverage-option {
    list-style-type: none;
    !border-bottom: #626061 0.5px solid;
    !width: 70%;
    text-align: right;
    display: block;
    margin: 0 auto;
    padding: 19px;
  }

  /*The Buttons Go Wacky when scaled down"*/
  @media only screen and (max-width: 768px) {
    li.coverage-option {
      padding: 10px;
      width: none;
      border-bottom: 0;
      border-top: #626061 0.5px solid;
    }
  }

  @media only screen and (max-width: 767px) {
    li.coverage-option {
      padding: 10px;
      width: none;
      border-bottom: 0;
      border-top: #626061 0.5px solid;
      margin-bottom: 0;
    }
  }

  .sub-title {
    font-family: "open sans", sans-serif;
    font-size: 1.1em;
    text-align: center;
    margin: 10px 30px 0 30px;
    clear: both;
    padding: 25px;
    letter-spacing: .02em;
  }

  @media only screen and (max-width: 320px) {
    .sub-title {
      font-size: 1em;
      margin: 0;
      padding: 10px;
      width: 100%;
    }
  }

  .price-option {
    text-align: right;
    font-family: "open sans", sans-serif;
    font-size: 1.7em;
    padding: 0;
    margin: 0;
  }

  @media only screen and (max-width: 767px) {
    .price-option {
      display: block;
    }
  }

  .add-btn {
    background-color: #747A8C;
    width: 110px;
    height: 40px;
    margin: 0 0 0 50px;
    font-famly: "open sans";
    font-size: 1em;
    color: #fff;
    border: 0;
    cursor:pointer;
  }

  .add-btn:hover{
    background-color:#125F99;
  }

  /*The Buttons Go Wacky when scaled down"*/
  @media only screen and (max-width: 768px) {
    .add-btn {
      margin: 6px 0 6px 5px;
    }
  }

  @media only screen and (max-width: 320px) {
    .add-btn {
      margin: 6px 0 6px 5px;
    }
  }

  .add-btn-next,
  #edit-submit--2 {
    background-color: #FCDD0A;
    width: 120px;
    height: 50px;
    margin: 0 0 20px 50px;
    font-size: 1.2em;
    color: #454545;
    border: 0;
    float: right;
    font-weight: bold;
    cursor: pointer;
  }

  #webform-component-personal-info--next {
    margin-right: 40px;
  }

  #webform-component-personal-info--info-col-2--birth-date {
    margin-top: 40px;
  }

  #webform-component-personal-info--info-col-2--gender {
    margin-top:40px;
  }

  /*The Buttons Go Wacky when scaled down"*/
  @media only screen and (max-width: 768px) {
    .add-btn-next {
      margin: 6px 0 6px 5px;
    }
  }

  @media only screen and (max-width: 320px) {
    .add-btn-next {
      margin: 6px 10px 6px 5px;
    }
  }

  .sub-link {
    color: #2F6E99;
    text-align: center;
    font-size: .9em;
    text-decoration: underline;
    margin: 10px 0 20px 0;
  }

  /*The link is just to big when you go to a phone"*/
  @media only screen and (max-width: 320px) {
    .sub-link {
      font-size: .7em;
    }
  }

  .summary-disclaimer {
    font-size: .8em;
  }

  /*lower disclaimer word stylings*/
  .lower h4 {
    font-size: .9em;
    font-weight: bold;
    line-height: 1.4em;
  }

  .lower p, .bottom p {
    font-size: .9em;
    line-height: 1.4em;
  }

  /*more disclaimer word stylings, includes grey bar*/
  .bottom-row {
    background-color: #454545;
    max-width: 100%;
  }

  .bottom {
    color: #fff;
    margin: 0;
    padding: 30px 0 30px 0;
  }

  /* footer*/
  .terms, .privacy, .copyright {
    float: left;
    padding: 10px 10px 10px 0;
  }

  .nobg {
    background: white;
    border: none;
  }

  .row {
    margin-bottom: 25px;
  }

  .grippie {
    display: none;
  }

  .content {
    /*max-width: 1240px;*/
    margin-left: auto;
    margin-right: auto;
  }

  /*--Health Card Enrollment Specfic--*/
  li.health-card {
    width: 100%;
    text-align: left;
    margin: 15px 0 15px 0!important;
    border-color: #ccc;
  }

  .plan-price {
    font-size: 2.3em;
    font-family: "open sans", sans-serif;
    padding: 0;
    margin: 0 0 -10px 0px;
    text-align: center;
  }

  .plan-details {
    font-size: .9em;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
  }

  .card-plan {
    font-size: 2em;
    font-weight: bold;
    float: left;
    font-family: "open sans", sans-serif;
    width: 100%;
    color: #2F6E99;
    padding: 0;
    margin: 0;
  }

  .card-description {
    font-size: 1em;
    padding: 0;
    margin: 0;
  }

  .health-card-price-wrapper {
    text-align: center;
  }

  .details-plan {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0 0 10px 0;
  }

  .health-card-options {
    margin: 0;
    padding: 0 25px 0 25px;
  }

  .health-card-btn {
    margin: 0;
  }

  li.last {
    border-bottom: none;
  }

  .poopnstuff {
    width: 100%;
    z-index: 600;
    background-color: #eee;
    border: #ccc solid thin;
    position: relative;
    height: 500px;
    float: left;
    margin: 10px 0 0 0;
    padding: 25px;
  }

  /*--Standard Styles--*/
  .top-section h1 {
    font-family: "open sans", sans-serif;
    font-size: 3.5em;
    font-weight: normal;
    letter-spacing: .01em;
  }
  @media only screen and (max-width: 767px) {
    .top-section h1 {
      font-size: 2.5em;
    }
  }
  .top-section h2 {
    font-size: 2em;
    font-family: "open sans", sans-serif;
  }
  @media only screen and (max-width: 767px) {
    .top-section h2 {
      font-size: 1.3em;
    }
  }
  .top-section h3 {
    font-size: 2em;
    font-family: "open sans", sans-serif;
    font-weight: normal;
  }
  @media only screen and (max-width: 767px) {
    .top-section h3 {
      font-size: 1.3em;
    }
  }
  .top-section p {
    font-size: 1.25em;
    font-family: "open sans";
  }
  @media only screen and (max-width: 767px) {
    .top-section p {
      font-size: 85%;
    }
  }

  .row1 {
    height: 100%;
    padding-bottom: 20%!important;
    text-align: center;
  }

  .section1 {
    background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/travel-bkg1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .section1 h1 {
    margin-top: 23%;
    padding: 0 0 20px 0;
  }

  .section1 h2 {
    text-align: center;
    margin: 0 auto;
  }

  .section1 h3 {
    color: #fff;
    padding: 0 0 20px 0;
  }

  .section2 {
    background-color: #7E8285;
  }
  .section2 p {
    color: #fff;
  }

  .row2 {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0!important;
  }

  .section3 {
    background-color: #fff;
  }
  .section3 p {
    color: #454545;
  }
  .section3 h3 {
    color: #4C98D2;
  }

  .row3 {
    margin-bottom: 0!important;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  @media only screen and (max-width: 767px) {
    .check-container {
      display: none !important;
    }
  }

  .section4 {
    background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/blue-fuzzy.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .section4 p {
    color: #fff;
  }
  .section4 h3 {
    color: #fff;
  }
  .section4 ul {
    color: #fff;
    margin: 0;
    font-size: 1.25em;
  }
  @media only screen and (max-width: 767px) {
    .section4 ul {
      font-size: 85%;
    }
  }
  .section4 li {
    margin: 0 0 0 10px;
    list-style-type: circle;
  }

  .row4 {
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 0!important;
  }

  .section5 {
    background-color: #fff;
  }
  .section5 h3 {
    color: #4C98D2;
  }
  .section5 img {
    padding: 0 20px 20px 0;
  }
  .section5 p {
    margin: 0 0 0 0;
  }

  .row5 {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0!important;
  }

  @media only screen and (max-width: 767px) {
    .travel-data {
      display: none !important;
    }
  }

  .footer-section {
    background-color: #CCCCCC;
  }

  .footer-row {
    margin-bottom: 0!important;
  }

  .learn-more {
    width: 211px;
    height: 50px;
    background-color: #4C98D2;
    border: 0;
    color: #fff;
    font-size: 1.625em;
    font-family: "open sans", sans-serif;
    margin: 30px 0 0 0;
  }
  @media only screen and (max-width: 767px) {
    .learn-more {
      width: 135px;
      font-size: 1.4em;
    }
  }

  .logo-img {
    background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/usap-logo.jpg") no-repeat;
    float: left;
    height: 20px;
    width: 159px;
    margin-top: 15px;
  }

  .sheader {
    margin-bottom: 0!important;
  }

  .standard-header {
    height: 50px;
  }

  .check-square1, .check-square2 {
    background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/check-square.png") no-repeat;
    width: 122px;
    height: 107px;
    position: relative;
    padding: 30px 0 30px 130px;
    margin-bottom: 15px;
  }

  .easy, .hard {
    font-size: 5.188em;
    font-family: 'open sans';
    font-weight: lighter;
    display: block;
  }

  .card {
    background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card.png") no-repeat left fixed;
    float: left;
    height: 581px;
    width: 682px;
    position: absolute;
    top: 1871px;
  }
  @media only screen and (max-width: 1220px) {
    .card {
      background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card-medium.png") no-repeat left fixed;
    }
  }
  @media only screen and (max-width: 1500px) {
    .card {
      background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card-medium-large.png") no-repeat left fixed;
    }
  }
  @media only screen and (max-width: 1233px) {
    .card {
      background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card-medium.png") no-repeat left fixed;
    }
  }
  @media only screen and (max-width: 768px) {
    .card {
      display: none;
    }
  }

  .stripe {
    background-color: #6B6F72;
    color: #fff;
    margin-bottom: 0!important;
  }

  .footer-section {
    margin-bottom: 0!important;
  }
  .footer-section p {
    font-size: .813em;
    margin-top: 20px;
  }
  @media only screen and (max-width: 767px) {
    .footer-section p {
      font-size: .715em;
    }
  }

  .footer {
    margin-bottom: 0!important;
  }
  .footer p {
    font-size: .813em;
    margin-top: 10px;
  }

  @media only screen and (max-width: 768px) {
    .perks-content {
      width: 100%!important;
      margin-left: 0!important;
      padding-bottom: 20px;
    }
  }

  .perks-menu ul {
    font-size: 18px;
    color: #fff;
  }
  @media only screen and (max-width: 768px) {
    .perks-menu ul {
      margin: 10px 0 10px 0;
    }
  }
  .perks-menu li {
    width: 100%;
  }
  @media only screen and (max-width: 768px) {
    .perks-menu li {
      display: inline-block;
      width: 17%;
      font-size: 14px;
    }
  }
  .perks-menu li a {
    color: #fff;
    padding: 13px;
    margin: 5px 0 5px 0;
    text-align: center;
    border: #fff solid thin;
    display: block;
  }
  @media only screen and (max-width: 768px) {
    .perks-menu li a {
      padding: 6px;
    }
  }
  .perks-menu li a:active {
    color: #fff;
    background-color: #7E8285;
  }
  .perks-menu li a:hover {
    background-color: #eee;
    color: #454545;
    text-shadow: 0 2px 3px #aaa;
  }

  @media only screen and (max-width: 768px) {
    .perks-menu {
      display: none;
    }
  }
  @media only screen and (max-width: 767px) {
    .perks-menu {
      display: none;
    }
  }

  .perks-menu-small {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    .perks-menu-small {
      display: none !important;
    }
  }
  @media only screen and (max-width: 767px) {
    .perks-menu-small {
      display: inherit !important;
    }
  }

  .perks-menu-small ul {
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
  }
  .perks-menu-small li {
    width: 18%;
    margin: 3px;
    float: left;
    line-height: 15px;
  }
  .perks-menu-small li a {
    color: #fff;
    padding: 10px 4px 10px 4px;
    margin: 5px 0 5px 0;
    text-align: center;
    border: #fff solid thin;
    display: block;
  }
  @media only screen and (max-width: 767px) {
    .perks-menu-small li a {
      min-height: 52px;
    }
  }
  .perks-menu-small li a:active {
    color: #fff;
    background-color: #7E8285;
  }
  .perks-menu-small li a:hover {
    background-color: #eee;
    color: #454545;
    text-shadow: 0 2px 3px #aaa;
  }

  .active {
    display: block;
    background-color: #eee;
  }

  .check {
    position: absolute;
    z-index: 300;
    background: url("http://localhost/enrollment/sites/all/themes/enrollment/img/check.png") no-repeat;
    height: 125px;
    width: 165px;
    margin-top: -25px;
  }

  .nothanks {
    padding: 20px 0 0 0;
    margin: 0 auto;
  }

  .webform-component-markup {
    margin: 10px 0 0 0;
  }

  .webform-component-fieldset {
    background-color: #eeeeee;
  }

  fieldset.webform-component-fieldset {
  }

  #messages {
    height: 0px;
    text-align: center;
  }

  #messages ul li.alert {
    background-color: #f66060;
    color: #000;
    padding: 0 20px;
  }

  #summary-box {
    margin-top: 10px;
  }

  #summary-box li.registration,
  #summary-box li.membership,
  #summary-box li.premium,
  #summary-box p.price-reg-total {
    display: none;
  }

  .fieldset-wrapper {
    padding: 20px;
  }

  .form-wrapper div.fieldset-wrapper .form-wrapper .fieldset-wrapper {
    padding: 0;
  }

  #webform-component-personal-info--info-col-1 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    border-right: solid thin #454545;
  }

  #webform-component-personal-info--info-col-2 {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
  }

  #edit-submitted-personal-info-agreement {
    padding: 0 0px;
  }

  #webform-component-payment--payment-type {
    margin-bottom: 0px;
  }

  #webform-component-payment--credit-card--card-type {
    background-image: url('../img/visa_mc.png');
    background-repeat: no-repeat;
    padding-left: 100px;
    height:31px;
  }

  input.form-radio {
    vertical-align: text-top;
  }

  #edit-actions--2 {
    display: none;
  }

  input.form-text {
    max-width: 90%;
    width: 90%;
    padding: 0;
    margin: 5px 0 0 0;
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none;
    font-family: "Open Sans";
    font-weight: 300;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    background: #fff;
    border: 1px solid #d8d8d8;
    height: 36px;
    line-height: 34px;
    font-size: 16px;
    font-size: 1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
  }

  select {
    font-size: 16px;
    font-size: 1rem;
  }

  p.no-thanks {
    text-align: center;
  }

  .free-stuff {
    border-bottom:#efefef solid 1px;
    margin-bottom:20px;
  }

  ul.free {
      list-style-type: none;
      padding: 0;
      margin:0;
  }

  ul.free li {
        text-align: center;

  }

  ul.free li img {
      margin: 0;
      padding: 2px 10px 2px 2px;
      vertical-align: middle;
      width:40px;
      height:auto;
  }

  ul.free li span {
      vertical-align: middle;
      font-size:15px;
      font-weight:400;
  }

  .row-free {
    margin-bottom:0;
    padding:16px 0 10px 0;
  }

  .previous {
  display: block;
  cursor: pointer;
  width:100%;


  }