
html, body {
  background: #4D99D3;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  html, body {
    font-size: 95%;
  }
}
@media only screen and (max-width: 768px) {
  html, body {
    font-size: 94%;
  }
}
@media only screen and (max-width: 767px) {
  html, body {
    font-size: 91%;
  }
}

p {
  font-family: "open sans";
}

a {
  color: #316E99;
}

a:hover {
  color: #fff;
}

.header-box3 h1 {
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 25px 0 0 0;
  text-align: center;
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
  float: left;
}

.info-box h2 {
  padding: 0 30px 0 30px;
  margin: 0;
  font-size: 1.5em;
  color: #454545;
  font-weight: bold;
}

/* Header-Blue Top Area etc.*/
.head {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

@media only screen and (max-width: 767px) {
  .head {
    padding: 0 0 10px 0;
    height: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .title {
    width: 100%!important;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    width: 100%!important;
    text-align: center;
  }
}

/* Summary contains all the "shopping cart" styles Right-Col */
.summary-box {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .summary-box {
    width: 98%!important;
    margin-top: 10px;
    padding: 10px 25px 0 0;
    border-top: #ddd solid thin;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .summary-box {
    width: 100%!important;
    margin-top: 10px;
    padding: 10px 25px 0 0;
    border-top: #ddd solid thin;
    text-align: center;
    clear: both;
    padding-top: 10px!important;
  }
}
@media only screen and (max-width: 320px) {
  .summary-box {
    padding: 10px 0 0 0;
  }
}

.summary-box h3 {
  font-size: 1.5em;
  background-color: #eeeeee;
  width: 100%;
  color: #454545;
  padding: 10px 0 10px 20px;
  letter-spacing: .05em;
}

.summary-title {
  font-family: "Oswald", sans-serif;
}

.summary-box--container {
  padding: 0 0 0 0px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .summary-box--container {
    padding: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .summary-box--container {
    padding: 0;
    text-align: center;
  }
}

.summary-box--heading {
  color: #2F6E99;
  font-family: "Oswald", sans-serif;
  padding: 10px 0 0 0;
  font-size: 1.1em;
}

.summary-box--result {
  color: #454545;
}
@media only screen and (max-width: 767px) {
  .summary-box--result {
    text-align: center;
  }
}

.price-total {
  border-top: #ddd thin solid;
  border-bottom: #ddd thin solid;
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  padding: 5px 0 5px 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .price-total {
    text-align: center;
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  .price-total {
    padding: 0;
    text-align: center;
  }
}

.total-price {
  float: right;
  margin: 0 10% 0;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .total-price {
    float: none;
    margin: 0 0 0 5%;
  }
}
@media only screen and (max-width: 767px) {
  .total-price {
    float: none;
  }
}
@media only screen and (max-width: 320px) {
  .total-price {
    margin: 0 0 0 2%;
  }
}
@media only screen and (max-width: 768px) {
  .total-price {
    margin: 0 0 0 2%;
  }
}

.yep-i-am-awesome {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .yep-i-am-awesome {
    width: 45%;
  }
}
@media only screen and (max-width: 767px) {
  .yep-i-am-awesome {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .yep-i-am-awesome {
    display: none !important;
  }
}

.poop-wrapper {
  margin-top: 25px;
}

@media only screen and (max-width: 767px) {
  .poop-wrapper p {
    padding: 0 10px 0 10px;
  }
}

.gender {
  float: left;
  margin: 10px 10px 10px 0;
}

.gender-select {
  width: 20px!important;
  height: 20px!important;
}

.esig {
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
}

.signature-line {
  font-size: .8em;
  margin-bottom: 10px;
}

/* Info Box contains all the general information styles */
.info-box {
  float: left;
  width: 100%;
}
.info-box h3 {
  cursor: pointer;
  padding: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  letter-spacing: .1em;
}

.mid-col {
  border-right: #B4B4B5 solid thin;
  padding-right: 25px;
}

@media only screen and (max-width: 767px) {
  .info-box h3 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 767px) {
  .info-box ul {
    margin: 0;
    padding: 0 10px 0 10px;
  }
}

.info-title {
  margin: 0;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.left-content3 {
  margin-top: 100px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .left-content3 {
    margin-top: 10px;
    width: 100%!important;
  }
}
@media only screen and (max-width: 768px) {
  .left-content3 {
    margin-top: 10px;
    width: 100%!important;
  }
}

.left-content3 p {
  padding: 0px 30px;
  font-size: 1.2em;
  line-height: 1.3em;
  margin: 20px 0 0 0;
}

@media only screen and (max-width: 767px) {
  .right {
    padding: 0 10px 0 10px;
    float: none;
  }
}

.info-box__content {
  margin: 0;
}

.input-title {
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .input-title {
    font-size: 1.0em;
  }
}

p.disclaimer {
  float: left;
}
@media only screen and (max-width: 767px) {
  p.disclaimer {
    font-size: 1.1em;
  }
}

/* General Information Title Styles "Upgrade, Payment etc."*/
.section-hightlight {
  font-family: "Oswald", sans-serif;
}
@media only screen and (max-width: 767px) {
  .section-hightlight {
    margin-bottom: 0!important;
  }
}

.form {
  border-bottom: #ccc solid thin;
}
@media only screen and (max-width: 767px) {
  .form {
    margin-top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .header_box {
    margin-bottom: 0!important;
  }
}

.inactive-info-title {
  background-color: #C4C6C8;
  color: #fff;
  -webkit-transition-property: #eeeeee;
  /* Saf3.2+, Chrome */
  -webkit-transition-duration: 0.5s;
  -o-transition-property: #eeeeee;
  /* Opera 10.5+ */
  -o-transition-duration: 0.5s;
  -ms-transition-property: #eeeeee;
  /* IE10? */
  -ms-transition-duration: 0.5s;
  transition-property: #eeeeee;
  /* Standard */
  transition-duration: 0.5s;
}

.inactive-info-title, .active-info-title {
  display: inline-block;
  float: left;
  padding: 10px;
  font-size: 1.4em;
  width: 25%;
  text-align: center;
  border-right: #bbb solid thin;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .inactive-info-title, .active-info-title {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 767px) {
  .inactive-info-title, .active-info-title {
    display: none !important;
  }
}

.active-info-title {
  background-color: #4D99D3;
  color: #fff;
  -webkit-transition-property: #454545;
  /* Saf3.2+, Chrome */
  -webkit-transition-duration: 0.5s;
  -o-transition-property: #454545;
  /* Opera 10.5+ */
  -o-transition-duration: 0.5s;
  -ms-transition-property: #454545;
  /* IE10? */
  -ms-transition-duration: 0.5s;
  transition-property: #454545;
  /* Standard */
  transition-duration: 0.5s;
}

.create-account {
  /* Saf3.2+, Chrome */
  -webkit-transition-duration: ease-in-out;
  /* Opera 10.5+ */
  -o-transition-duration: ease-in-out;
  /* IE10? */
  -ms-transition-duration: ease-in-out;
  /* Standard */
  transition-duration: ease-in-out;
}

.upgrades {
  /* Saf3.2+, Chrome */
  -webkit-transition-duration: ease-in-out;
  /* Opera 10.5+ */
  -o-transition-duration: ease-in-out;
  /* IE10? */
  -ms-transition-duration: ease-in-out;
  /* Standard */
  transition-duration: ease-in-out;
}

.payment {
  /* Saf3.2+, Chrome */
  -webkit-transition-duration: ease-in-out;
  /* Opera 10.5+ */
  -o-transition-duration: ease-in-out;
  /* IE10? */
  -ms-transition-duration: ease-in-out;
  /* Standard */
  transition-duration: ease-in-out;
}

/*Additional Coverage Styles"*/
.coverage-select figure {
  margin: 0;
  position: relative;
}

.coverage-select figcaption {
  position: absolute;
  top: -35px;
  left: -35px;
  padding: 20px;
  background: #316E99;
  color: #ed4e6e;
  z-index: 300;
}

.coverage-select figcaption a {
  text-align: center;
  padding: 10px 15px;
  display: inline-block;
  background: #FBDD06;
  color: #454545;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  margin: 0;
}

.cs-style-1 figcaption {
  height: 215px;
  width: 110%;
  opacity: 0;
  text-align: center;
  backface-visibility: hidden;
  transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption, .cs-style-1 figure.cs-hover figcaption {
  opacity: 1;
  transform: translate(15px, 15px);
}

.cs-style-1 figcaption a {
  margin-top: 10px;
}

.content-list-container {
  float: left;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .content-list-container {
    padding: 0;
    margin: 0;
  }
}

.coverage-select {
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .coverage-select {
    width: 100%!important;
  }
}
@media only screen and (max-width: 767px) {
  .coverage-select {
    width: 100%;
  }
}

li.coverage-option {
  margin: 0 15px 15px 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  text-align: left;
  position: relative;
  float: right;
  background-color: #389DEC;
  width: 45%;
  height: 175px;
  border-top: 0;
}
@media only screen and (max-width: 767px) {
  li.coverage-option {
    width: 100%;
    padding: 10px;
    width: none;
    border-bottom: 0;
    margin: 0 5px 5px 0;
    float: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  li.coverage-option {
    padding: 0px;
    width: 45%;
    border-bottom: 0;
    margin: 0 5px 5px 0;
  }
}

.coverage-option p {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  color: #fff;
  margin-top: 60px;
}
@media only screen and (max-width: 767px) {
  .coverage-option p {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .coverage-option p {
    font-size: 1.7em;
  }
}

p.coverage-text {
  font-family: "open sans";
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  line-height: 1.3em;
  margin-top: 15px;
}
@media only screen and (max-width: 768px) {
  p.coverage-text {
    margin: 45px 0 10px 0;
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  p.coverage-text {
    font-size: .9em;
  }
}
@media only screen and (max-width: 320px) {
  p.coverage-text {
    font-size: .9em;
    margin-top: 20px;
  }
}

.last {
  border: 0;
}

.price-option {
  font-family: "Oswald", sans-serif;
  font-size: 1.7em;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .price-option {
    display: block;
  }
}

.add-btn {
  font-family: "Oswald", sans-serif;
  background-color: #389DEC;
  width: 200px;
  height: 175px;
  margin: 0;
  font-size: 2em;
  color: #fff;
  border: 0;
}

/*The Buttons Go Wacky when scaled down"*/
.enroll {
  background-color: #FCDD0A;
  width: 120px;
  height: 50px;
  margin: 0 0 0 50px;
  font-size: 1.2em;
  color: #454545;
  border: 0;
  float: right;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .add-btn {
    margin: 0;
  }
}

@media only screen and (max-width: 320px) {
  .add-btn {
    margin: 6px 0 6px 5px;
  }
}

.add-btn-next {
  background-color: #FCDD0A;
  width: 120px;
  height: 50px;
  margin: 0 0 0 50px;
  font-size: 1.2em;
  color: #454545;
  border: 0;
  float: right;
  font-weight: bold;
}

/*The Buttons Go Wacky when scaled down"*/
@media only screen and (max-width: 768px) {
  .add-btn-next {
    margin: 6px 0 6px 5px;
  }
}

@media only screen and (max-width: 320px) {
  .add-btn-next {
    margin: 6px 10px 6px 5px;
  }
}

a.sub-link {
  color: #2F6E99;
  font-size: .9em;
  text-decoration: underline;
  margin: 30px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  a.sub-link {
    font-size: .8em;
  }
}

.sub-link {
  text-align: center;
  width: 100%;
  clear: both;
  padding: 10px 0 0 20px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .sub-link {
    padding-left: 0;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .sub-link {
    padding-left: 0;
    margin: 0 auto;
  }
}

.summary-disclaimer {
  font-size: .8em;
}

/*more disclaimer word stylings, includes grey bar*/
@media only screen and (max-width: 320px) {
  .progressbar {
    display: none !important;
  }
}

.bottom-row {
  background-color: #454545;
  max-width: 100%;
}

.bottom {
  color: #fff;
  margin: 0;
  padding: 30px 0 30px 0;
}

/* footer*/
.terms, .privacy, .copyright {
  float: left;
  padding: 10px 10px 10px 0;
  color: #fff;
}

.nobg {
  background: white;
  border: none;
}

.row {
  margin-bottom: 25px;
}

.grippie {
  display: none;
}

.content {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  /*@include respond(tablets) {max-width:940px;
   }
   //@include respond(portrait-tablets){width:600px;}*/
}

.left-footer-msg {
  font-size: .8em;
  float: left;
  margin: 0 0 0 30px;
  padding: 10px 0 10px 0;
}
@media only screen and (max-width: 767px) {
  .left-footer-msg {
    float: none;
    margin-right: 0;
    margin-left: 20px;
    padding: 5px 0 5px 0;
  }
}

.right-footer-msg {
  font-size: .8em;
  float: right;
  margin-right: 30px;
  padding: 10px 0 10px 0;
}
@media only screen and (max-width: 767px) {
  .right-footer-msg {
    float: none;
    margin-right: 0;
    margin-left: 20px;
    padding: 5px 0 15px 0;
  }
}

.signature-agree {
  font-size: .9em;
  border: #ccc solid thin;
  padding: 10px;
  margin-bottom: 10px;
}

ul.form div#content-footer {
  float: none;
}

.signature-box {
  margin: 0;
  padding: 0;
}

.thanks {
  font-size: 2em;
  text-align: center;
}

.content {
  background-color: #fff;
  -o-box-shadow: 3px 3px 3px #454545;
  -webkit-box-shadow: 3px 3px 3px #454545;
  box-shadow: 3px 3px 3px #454545;
}

.bottom-content {
  color: #fff;
  padding-top: 15px;
  /*@include respond (tablets){max-width: 980px;}*/
}

/*lower disclaimer word stylings*/
.bottom-content h4 {
  font-size: .9em;
  font-weight: bold;
  line-height: 1.4em;
  color: #fff!important;
}
@media only screen and (max-width: 768px) {
  .bottom-content h4 {
    padding: 15px 0 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .bottom-content h4 {
    padding: 15px 0 0 0;
  }
}

.bottom-content p, .bottom-content p {
  font-size: .9em;
  line-height: 1.4em;
  color: #fff;
}

.footer-enroll3 {
  background-color: #454545;
}

.footer3 {
  margin-bottom: 0!important;
}

.footer3 a {
  color: #fff;
}

li.summary-item {
  list-style-type: none;
  display: inline-block;
  width: 19%;
  text-align: center;
  border-right: #ccc thin solid;
  margin-top: 10px;
  font-family: "Oswald", sans-serif;
  color: #4D99D3;
}
@media only screen and (max-width: 768px) {
  li.summary-item {
    width: 30%;
  }
}
@media only screen and (max-width: 767px) {
  li.summary-item {
    width: 100%;
    border-right: none;
  }
}

.summary-results {
  clear: both;
  color: #454545;
  font-family: "open sans";
  width: 100%;
  float: left;
}

.summary-list {
  padding: 10px;
  border-bottom: #ccc thin solid;
  text-align: center;
}

li.last {
  border-right: none;
}

p {
  margin: 0;
  padding: 0;
}

.content-list-container {
  width: 100%;
}

.package_id-407 {
  background: url(/sites/all/themes/custom/bare/img/50000-260x185.jpg) no-repeat top right;
}

.package_id-405 {
  background: url(/sites/all/themes/custom/bare/img/100000-260x185.jpg) no-repeat top right;
}

.package_id-408 {
  background: url(/sites/all/themes/custom/bare/img/150000-260x185.jpg) no-repeat top right;
}

.package_id-409 {
  background: url(/sites/all/themes/custom/bare/img/200000-260x185.jpg) no-repeat top right;
}

.six.columns.payment-right {
  padding: 0 20px 0 20px;
}

.content-item {
  background-color: #D3D5D6;
  height: 185px;
  margin: 10px 10px 0 0;
  overflow: hidden;
  position: relative;
  width: 48%;
  float: left;
  border: #E6E7E8 5px solid;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .content-item {
    width: 100%;
  }
}
.content-item .overlay {
  border-bottom: 100px solid #4D99D3;
  border-left: 100px solid transparent;
  bottom: 0;
  height: 0;
  opacity: .95;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 0;
  display: inline-block;
}
.content-item:hover .overlay {
  border-bottom: 800px solid #4D99D3;
  border-left: 800px solid transparent;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.content-item .corner-overlay-content {
  bottom: 15px;
  color: #fff;
  position: absolute;
  right: 15px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.content-item:hover .corner-overlay-content {
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.content-item .overlay-content {
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: 0;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.content-item .overlay-content h2 {
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin: 0 0 15px 0;
  color: #fff;
}
.content-item .overlay-content p {
  padding: 0;
  margin: 0;
  line-height: 1.3em;
}
.content-item:hover .overlay-content {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.content-footer {
  padding: 10px 0 10px 0;
}
@media only screen and (max-width: 767px) {
  .content-footer {
    width: 100%!important;
    text-align: center;
  }
}

.bottom-disclaimer {
  padding: 0 0 0 25px;
}

.title-container {
  margin: 20px 0 10px 0;
  padding: 0 10px 0 10px!important;
}
.title-container h2 {
  padding: 0 0 0 20px;
}

.disclaimer1 {
  padding: 0;
  margin: 0;
}

.totals {
  background-color: #D3D5D6;
  padding: 5px;
  color: #4D99D3;
  position: relative;
  top: 60px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .totals {
    display: none !important;
  }
}
.totals p {
  font-family: "Oswald", sans-serif;
}

.payment-right {
  padding: 40px 20px 0 20px;
}

@media only screen and (max-width: 767px) {
  .end-col {
    padding: 0 20px 0 20px!important;
  }
}

@media only screen and (max-width: 768px) {
  li.reg, li.mem-fees {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  li.reg, li.mem-fees {
    display: none !important;
  }
}
