html, body {
  background: #fefefe;
  @include respond(tablets){font-size:90%;}/*For Enrollment Path*/
}



p {font-family:"open sans";} 
a {color:#389DEC;}
 

h1 {font-family:$font-family-oswald; padding:0; margin: 30px 0 0 0; text-align:center; color:#fff; font-size:3.086em; letter-spacing:.15em; font-weight:bold;}
		h1 {@include respond(all-phones) { 
			font-size: 1.6em; 
			padding:10px 0 5px 0px;
			}
		}

h2 {padding:0; margin:0; font-size:1.1em; text-align:center; color:#fff;}
		h2 {@include respond(all-phones) { 
			font-size: .9em; 
			padding:5px; 
			}
		}


 /* Header-Blue Top Area etc.*/
.head {background-color:#389DEC; padding:20px 0 20px 0; height:165px; margin:0 0 30px 0;}
  .head {@include respond(all-phones){
  	padding:0 0 10px 0; 
  	height:auto;
  	}
  }


 /* Summary contains all the "shopping cart" styles Right-Col */
.summary-box {}
 
 /* summary-box needs space when stacked on small devices */
 .summary-box { @include respond(all-phones) { 
 	clear:both; 
 	padding-top:10px!important; 
 }
}
.summary-box h3 {font-size:1.5em; background-color:#eeeeee; width:100%; color:#454545; padding:10px 0 10px 20px; letter-spacing: .05em;}
.summary-title {font-family:$font-family-oswald;}
.summary-box--container {padding:0 0 0 20px;}
.summary-box--heading {color:#2F6E99; font-family: $font-family-oswald; padding:10px 0 0 0; font-size:1.3em;}
.summary-box--result {color:#454545;}
.price-total {border-top:#454545 thin solid; border-bottom:#454545 thin solid; font-family: $font-family-oswald; font-size: 1.5em; padding:10px 0 10px 20px;}
.total-price {float:right; margin:0 10% 0;}

ul.form {
	li {
		margin-bottom: 10px;
	}
}

.poop-wrapper {margin-top:25px;}
	.poop-wrapper p {@include respond(all-phones){padding:0 10px 0 10px;}}

.gender {float:left; margin:10px 10px 10px 0;}
.gender-select {width:20px!important; height:20px!important;}

.esig {font-family:$font-family-oswald; padding:0 0 10px 20px; font-size:1.2em;}
.signature-agree{padding:0 0 0 20px;}
.signature-line { padding:0 0 0 20px; font-size: .9em;}

/* Info Box contains all the general information styles */
.info-box {
	float:left; background-color:#eeeeee; width: 100%; 
	h3 {
		cursor: pointer;
		padding: 20px;
		font-family: $font-family-oswald;
		font-size:1.5em;
		letter-spacing: .1em;
	}
}
.info-box h3 {@include respond(all-phones){font-size: 1.2em;}}

.info-box ul {@include respond(all-phones){margin:0; padding:0 10px 0 10px;}}


.left {border-right:#454545 1px solid; padding-right:30px;}
	.left {@include respond(all-phones){padding:0 10px 0 10px; border:none;}}


.right {@include respond (all-phones){padding:0 10px 0 10px;}}

.info-box__content {margin:15px 0 15px 0;}

.input-title {font-family:$font-family-oswald; font-size:1.3em; padding:0; margin:0;}

p.disclaimer {float:left;}

/* General Information Title Styles "Upgrade, Payment etc."*/
.inactive-info-title {
	background-color:#eeeeee; 
	color:#454545;
	-webkit-transition-property: #eeeeee;  /* Saf3.2+, Chrome */
  -webkit-transition-duration: 1s;
  -o-transition-property: #eeeeee;  /* Opera 10.5+ */
  -o-transition-duration: 1s;
  -ms-transition-property: #eeeeee;  /* IE10? */
  -ms-transition-duration: 1s;
  transition-property: #eeeeee;  /* Standard */
  transition-duration: 1s;
}
.active-info-title {
	background-color:#454545; 
	color:#fff;
	-webkit-transition-property: #454545;  /* Saf3.2+, Chrome */
  -webkit-transition-duration: 1s;
  -o-transition-property: #454545;  /* Opera 10.5+ */
  -o-transition-duration: 1s;
  -ms-transition-property: #454545;  /* IE10? */
  -ms-transition-duration: 1s;
  transition-property: #454545;  /* Standard */
  transition-duration: 1s;
}

/*Additional Coverage Styles"*/
ul.coverage-option {width:100%;}
li.coverage-option  {list-style-type:none; border-bottom:$border; width:70%; text-align:center; display:block; margin:0 auto; padding:19px;}
		
		/*The Buttons Go Wacky when scaled down"*/
		li.coverage-option {
			 @include respond(portrait-tablets) {
			    padding:10px; 
			    width:none;
			    border-bottom:0;
			    border-top:$border;
			  }
			}
			li.coverage-option {
			 @include respond(all-phones) {
			    padding:10px; 
			    width:none;
			    border-bottom:0;
			    border-top:$border;
			    margin-bottom:0;
			  }
			}


.sub-title {font-family:$font-family-oswald; font-size:1.1em; text-align:center; margin:10px 30px 0 30px; clear:both; padding:25px; letter-spacing: .02em}
	.sub-title {@include respond(portrait-phones){
		font-size:1em;
		margin:0;
		padding:10px;
		width:100%;
		}
	}


.price-option {font-family:$font-family-oswald; font-size:1.7em; padding:0; margin:0;}
	.price-option {@include respond(all-phones){display:block;}}


.add-btn {background-color:#389DEC; width:110px; height:40px; margin:0 0 0 50px; font-famly:"open-sans"; font-size: 1em; color:#fff; border:0;}
				/*The Buttons Go Wacky when scaled down"*/
		.add-btn { 
			@include respond(portrait-tablets){
				margin:6px 0 6px 5px;
				}
			}

		.add-btn { 
			@include respond(portrait-phones){
				margin:6px 0 6px 5px;
				}
			}



.add-btn-next{background-color:#FCDD0A; width:120px; height:50px; margin:0 0 0 50px; font-size: 1.2em; color:#454545; border:0; float:right; font-weight:bold;}
				/*The Buttons Go Wacky when scaled down"*/
		.add-btn-next { 
			@include respond(portrait-tablets){
				margin:6px 0 6px 5px;
				}
			}

		.add-btn-next { 
			@include respond(portrait-phones){
				margin:6px 10px 6px 5px;
				}
			}






	.sub-link  {color:#2F6E99; text-align: center; font-size: .9em; text-decoration: underline; margin:10px 0 20px 0;}
			/*The link is just to big when you go to a phone"*/
			.sub-link {@include respond(portrait-phones){
				font-size:.7em;
				}
			}


.summary-disclaimer {font-size:.8em;}



 /*lower disclaimer word stylings*/
.lower h4 {font-size:.9em; font-weight:bold; line-height: 1.4em;}
.lower p, .bottom p {font-size:.9em; line-height: 1.4em;}


 /*more disclaimer word stylings, includes grey bar*/
.bottom-row {background-color:#454545; max-width:100%;}
.bottom {color:#fff; margin:0; padding:30px 0 30px 0 ;}


 /* footer*/
.footer {}
.terms, .privacy, .copyright {float:left; padding:10px 10px 10px 0;}



.nobg {
	background: $global-bg-color;
	border: none;
}

.row {
  margin-bottom: 25px;
}


.grippie {
  display: none;
}

.content {
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;
}



/*--Health Card Enrollment Specfic--*/


li.health-card {
			width:100%;
			text-align: left;	
			margin:15px 0 15px 0!important;
			border-color:#ccc;
}

.plan-price{	
		font-size:2.3em;
		font-family: $font-family-oswald;
		padding:0;
		margin:0 0 -10px 0px;
		text-align: center;
		

}

.plan-details{ 
	font-size:.9em;	
	padding:0;
	margin:0;
	text-align: center;
	cursor: pointer;
}

.card-plan{	
	font-size:2em;
	font-weight:bold;
	float:left;
	font-family: $font-family-oswald;
	width:100%;
	color:#2F6E99;
	padding:0;
	margin:0;

}

.card-description {	
	font-size:1em;
	padding:0;
	margin:0;
}

.health-card-price-wrapper {	
	text-align: center;
}

.details-plan {	
	width:100%;
	text-align: center;
	padding:0;
	margin:0 0 10px 0;
	}

	.health-card-options {	
		margin:0;
		padding:0 25px 0 25px;
	}


.health-card-btn {margin:0;}

li.last {border-bottom:none;}

.poopnstuff { 
		width:100%;
		z-index: 600;
		background-color:#eee;
		border:#ccc solid thin;
		position: relative;
		height:500px;
		float:left;
		margin:10px 0 0 0;
		padding:25px;
}



/*--Standard Styles--*/





.top-section {
	h1 {
		font-family: $font-family-oswald; 
		font-size:3.5em; 
		font-weight:normal;
		letter-spacing: .01em;
			@include respond(all-phones){
				font-size:2.5em;
			} 
		}

		h2{
			font-size:2em; 
  		font-family: $font-family-oswald; 
  			@include respond(all-phones){
  				font-size:1.3em;
  			}
			}

		h3{
			font-size: 2em;
  		font-family: $font-family-oswald; 
  		font-weight:normal;
	  		@include respond(all-phones){
	  			font-size:1.3em;
	  		}
			}

			p{
			font-size:1.25em;
  		font-family: "open sans";
	  		@include respond(all-phones){
	  			font-size:85%;
	  		}

			}
}


.row1 {
	height:100%;
	padding-bottom:20%!important;
	text-align:center;
}

.section1 {
		background:url('http://localhost/enrollment/sites/all/themes/enrollment/img/travel-bkg1.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}
		

.section1 h1 {
  		margin-top:23%;
  		padding:0 0 20px 0;
  	}

.section1 h2 {
  		text-align: center; 
  		margin:0 auto;
  		}
  	

.section1 h3 {
  		color:#fff;
  		padding:0 0 20px 0;
  	}



.section2 {
	background-color:#7E8285; 
	
	p {
  		color:#fff;
  	}
}

.row2 {
	padding-top:5%;
	padding-bottom:5%;
	margin-bottom: 0!important;
}


.section3 {
	background-color:#fff; 

	p {
		color:#454545;
	}

	h3 {
		color:#4C98D2;
	}
}

.row3 {
	margin-bottom:0!important;
	padding-top:5%;
	padding-bottom:5%;
}

.check-container {
 @include hidden(all-phones);	
}

.section4 {
		background:url('http://localhost/enrollment/sites/all/themes/enrollment/img/blue-fuzzy.png') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		
		p {
			color:#fff;
		}

		h3 {color:#fff;}

		ul {
			color:#fff;
			margin:0;
			font-size:1.25em;
			@include respond(all-phones){
				font-size:85%;
			}
		}

		li {margin:0 0 0 10px;
			list-style-type: circle;}
}

.row4 {padding-top:10%;
			padding-bottom:10%;
			margin-bottom:0!important;
}

	.section5 {
		background-color:#fff; 
		
		h3{
			color:#4C98D2;
		}

		img {padding:0 20px 20px 0;}

		p {
			margin:0 0 0 0; 
			}
	}

.row5 {
		padding-top:5%;
		padding-bottom:5%;
		margin-bottom:0!important;

}

.travel-data {
	 @include hidden(all-phones);
}

.footer-section {
	background-color: #CCCCCC;
}

.footer-row {margin-bottom:0!important;}

.learn-more {
	width:211px; 
	height:50px; 
	background-color:#4C98D2;  
	border:0; 
	color:#fff; 
	font-size: 1.625em; 
	font-family: $font-family-oswald;
	margin:30px 0 0 0;
		@include respond(all-phones){
			width:135px;
			font-size:1.4em;
		}
}

.logo-img {	
	background:url('http://localhost/enrollment/sites/all/themes/enrollment/img/usap-logo.jpg') no-repeat;
	float:left;
	height:20px;
	width:159px;
	margin-top: 15px;
}

.sheader {
	margin-bottom:0!important;
}

.standard-header {
	height:50px;
}

.check-square1,.check-square2 {
		background:url('http://localhost/enrollment/sites/all/themes/enrollment/img/check-square.png') no-repeat;
		width:122px;
		height:107px;
		position: relative;
		padding:30px 0 30px 130px;
		margin-bottom:15px;
}

.easy,.hard {
	font-size:5.188em;
	font-family: 'open sans';
	font-weight:lighter;
	display:block;
}

.card {
			background:url('http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card.png') no-repeat left fixed;
			@include respond (document-width){
			background:url('http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card-medium.png') no-repeat left fixed;
			}
			@include respond("max-width: 1500px") {
							background:url('http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card-medium-large.png') no-repeat left fixed;
			}
			@include respond("max-width: 1233px") {
							background:url('http://localhost/enrollment/sites/all/themes/enrollment/img/gift-card-medium.png') no-repeat left fixed;
			}
			@include respond(portrait-tablets) {
							display:none;
			}
			
			float:left;
			height:581px;
			width:682px;
			position:absolute;
			top:1871px;
}

.stripe {
	background-color:#6B6F72;
	color:#fff;
	margin-bottom:0!important;
}

.footer-section {
	margin-bottom:0!important;

	p{
		font-size:.813em;
		margin-top:20px;
		@include respond(all-phones){
			font-size:.715em;
		}
	}
}

.footer {
	margin-bottom:0!important;

	p {
		font-size:.813em;
		margin-top:10px;
	}
}

.perks-content {@include respond(portrait-tablets){
	width:100%!important;
	margin-left:0!important;
	padding-bottom:20px;
	}
}

.perks-menu{
				
				

				ul {
					
					font-size:18px;
					color:#fff;
					@include respond(portrait-tablets){
						margin:10px 0 10px 0;
					}

				}

				li {
					width:100%;
					@include respond(portrait-tablets){
						display:inline-block;
						width:17%;
						font-size:14px;
					}
				}

				li a {
					color:#fff;
					padding:13px;
					margin:5px 0 5px 0;
					text-align: center;
					border:#fff solid thin;
					display:block;
					@include respond (portrait-tablets){
						padding:6px;
					}
				}

				li a:active {
					color:#fff;
					background-color:#7E8285;
				}
					

				li a:hover {
					background-color:#eee;
					color: #454545; 
					text-shadow: 0 2px 3px #aaa;
					
				}

}

.perks-menu {
	@include respond(portrait-tablets){ 
					display:none;
				}
				@include respond (all-phones){
					display:none;
				}
			}

.perks-menu-small {
	 	@include hidden(portrait-tablets);
  	@include visible(all-phones);
display:none;
}

.perks-menu-small {

					ul {	
							font-size:12px;
							color:#fff;
							text-align: center;
							margin:0 auto;
							}
							
							li {
							width:18%;
							margin:3px;
							float:left;
							line-height: 15px;
							}
							
							li a {
							color:#fff;
							padding:10px 4px 10px 4px;
							margin:5px 0 5px 0;
							text-align: center;
							border:#fff solid thin;
							display:block;
								@include respond(all-phones){
									min-height: 52px;
								}
							}
							
							li a:active {
							color:#fff;
							background-color:#7E8285;
							}
							
							li a:hover {
							background-color:#eee;
							color: #454545; 
							text-shadow: 0 2px 3px #aaa;
							} 
					}

.active {display:block; background-color: #eee;}
.inactive {}

	.fuel {
	}

	.jump-start {
	}

	.lock-outs {
	}

	.tire-changes {	
	}

	.check {
		position:absolute;
		z-index: 300;
		background: url('http://localhost/enrollment/sites/all/themes/enrollment/img/check.png') no-repeat;
		height:125px;
		width:165px;
		margin-top:-25px;
	}

.nothanks {
	padding:20px 0 0 0;
	margin:0 auto;
}

.no {}
