/*
These are all the styles for Life In Check to overide the existing truscript markup.
*/
/* #77bc1f Whoa, Neon green #5f9618 Whoa, Hover Neon
/* #003d51 Dark Blue
/* #92c04d Orange you ready to see this.

@import url('//fonts.googleapis.com/css?family=Lato');
/****** PRELOADER *****/
.pace .pace-progress {
    background:#77bc1f;
}



/* FONTS */
@font-face {
font-family: 'CervoBold';
src: url("/truscript_new/dist/assets/img/lic/CervoNeue/CervoNeue-Bold.otf"),
     url('/truscript_new/dist/assets/img/lic/CervoNeue/cervoneue-bold-webfont.woff2') format('woff2'),
     url('/truscript_new/dist/assets/img/lic/CervoNeue/cervoneue-bold-webfont.woff') format('woff');
}
@font-face {
font-family: 'CervoRegular';
src: url("/truscript_new/dist/assets/img/lic/CervoNeue/CervoNeue-Regular.otf"),
     url('/truscript_new/dist/assets/img/lic/CervoNeue/cervoneue-regular-webfont.woff2') format('woff2'),
     url('/truscript_new/dist/assets/img/lic/CervoNeue/cervoneue-regular-webfont.woff') format('woff2');

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'CervoRegular';
}

a {
  color:#77bc1f;
  font-family: 'Lato', sans-serif;

}

a:hover {
  color:#5f9618;
}

p {
font-family: 'Lato', sans-serif;
}

li {
  font-family: 'Lato', sans-serif;
}


/******* BUTTONS *****/

.btn.primary.large, .medium.primary.btn  {
    border:none;
}


.btn.primary.large a, .medium.primary.btn a {
    border:none;
    position:relative;
    text-transform: uppercase;
    background-color: #E95C29 !important;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#E95C29), to(#ff8b0e));
    background-image: -webkit-linear-gradient(top, #E95C29, #ff8b0e);
    background-image: -moz-linear-gradient(top, #E95C29, #F09737);
    background-image: -ms-linear-gradient(top, #E95C29, #F09737);
    background-image: -o-linear-gradient(top, #E95C29, #F09737);
    background-image: linear-gradient(to right, #E95C29, #ff8b0e);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E95C29, endColorstr=#F09737);
    transition:backgroundImage 0.2s ease-in-out;
    font-family: CervoBold;
    text-align:left;
    padding-left: 1rem !important;
    padding-right: 3rem !important;
    font-size:1.3rem;
}

.medium.primary.btn a:after {
    font-family: 'Font Awesome 5 Pro';
    content: '\f138';
    border: none;
    line-height:1.5rem;
    margin-left:0;
    position: absolute;
    font-size:1.5rem;
    font-weight:300;
    transform: translateX(-33%);
    color: #ffffff;
    top: 0.4rem;
        right:0;
}

.btn.primary.large a:after {
    font-family: 'Font Awesome 5 Pro';
    content: '\f138';
    border: none;
    line-height:1.5rem;
    margin-left:0;
    position: absolute;
    font-size:2rem;
    font-weight:300;
    transform: translateX(-42%);
    color: #ffffff;
    top: 1.1rem;
        right:0;
}

.medium.primary.btn a:before {
    content:'';
    height:38px;
    width:38px;
    background-color:#ffffff2b;
    position:absolute;
    right:0;
    top:-1px;
}

.btn.primary.large a:before{
    content:'';
    height:60px;
    width:60px;
    background-color:#ffffff2b;
    position:absolute;
    right:0;
    top:-1px;
}

.btn.primary.large a:hover, .medium.primary.btn a:hover {
     background-color: #ca4515; background-image: -webkit-gradient(linear, left top, right bottom, from(#ca4515), to(#e37e11));
     background-image: -webkit-linear-gradient(top, #ca4515, #e37e11);
     background-image: -moz-linear-gradient(top, #ca4515, #e37e11);
     background-image: -ms-linear-gradient(top, #ca4515, #e37e11);
     background-image: -o-linear-gradient(top, #ca4515, #e37e11);
     background-image: linear-gradient(to right, #ca4515, #e37e11);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ca4515, endColorstr=#e37e11);
}


/********** Preloaders ******/
h6.loading-title {
  font-family: 'CervoRegular';
}

.spinner_container p, .spinner_container h6 {
    font-family: 'CervoRegular';

}

/******************  MENU CHANGES ******************/

#client_logo {
  max-width:14rem;
}
.user-menu_wrapper {
  background-color:rgba(0,0,0,0);
}

.user-menu_wrapper ul.user-menu li a {
    font-family: 'CervoRegular';
    text-transform:uppercase;
    font-size: 1.1rem;
}

.user-menu_wrapper ul.user-menu li a:after {
  content:'';
}

.user-menu_wrapper ul.user-menu li a:hover {
  border-bottom:#77bc1f solid 3px !important;
}

.user-menu_wrapper ul.user-menu li a.active {
    border-bottom:#77bc1f solid 3px !important;

}

.user-menu_wrapper ul.user-menu li:after {
  content:'';
}

.page-rx-contact-us .user-menu_wrapper, .user-menu_wrapper.subpage {
  background-color:#003d51;
}

/*****************  Page Drug Search  *****************/
    .ui-autocomplete .ui-menu-item-wrapper{
      color:#003d51;
      font-family: 'Lato', sans-serif;
    }

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    a.ui-button:active,
    .ui-button:active,
    .ui-button.ui-state-active:hover {
      background-color:#003d51;
      color:#ffffff;
    }

    ul.ui-autocomplete li.ui-state-focus {
            background-color:#003d51;
    }


#view_main {
  background-image:url('/sites/all/themes/usap/img/lic_site_images/drug_search.jpg') !important;
}

#view_main h4 {
  font-family: 'CervoRegular';
  color: #77bc1f;
  font-size: 3.5rem;
  letter-spacing: 0;
}


#view_main form .btn.primary.home-drug-search-btn:hover {
  border:none;
}

#view_main form .btn.primary.home-drug-search-btn a {
    border:none;
    position:relative;
    text-transform: uppercase;
    background-color: #E95C29 !important;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#E95C29), to(#ff8b0e));
    background-image: -webkit-linear-gradient(top, #E95C29, #ff8b0e);
    background-image: -moz-linear-gradient(top, #E95C29, #F09737);
    background-image: -ms-linear-gradient(top, #E95C29, #F09737);
    background-image: -o-linear-gradient(top, #E95C29, #F09737);
    background-image: linear-gradient(to right, #E95C29, #ff8b0e);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E95C29, endColorstr=#F09737);
    transition:backgroundImage 0.2s ease-in-out;
   font-family: CervoBold;
   text-align:left;
   padding-left: 1.3rem !important;
   padding-right: 5.25rem !important;
   font-size:1.3rem;
}


#view_main form .btn.primary.home-drug-search-btn a:after {
    font-family: 'Font Awesome 5 Pro';
    content: '\f138';
    border: none;
    line-height:1.5rem;
    margin-left:0;
    position: absolute;
    font-size:2rem;
    font-weight:300;
    transform: translateX(-38%);
    color: #ffffff;
    top: 1.1rem;
    right:0;
}

 #view_main form .btn.primary.home-drug-search-btn a:before {
    content:'';
    height:60px;
    width:60px;
    background-color:#ffffff2b;
    position:absolute;
    right:0;
    top:-1px;
}


 #view_main form .btn.primary.home-drug-search-btn a:hover {
     background-color: #ca4515; background-image: -webkit-gradient(linear, left top, right bottom, from(#ca4515), to(#e37e11));
     background-image: -webkit-linear-gradient(top, #ca4515, #e37e11);
     background-image: -moz-linear-gradient(top, #ca4515, #e37e11);
     background-image: -ms-linear-gradient(top, #ca4515, #e37e11);
     background-image: -o-linear-gradient(top, #ca4515, #e37e11);
     background-image: linear-gradient(to right, #ca4515, #e37e11);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ca4515, endColorstr=#e37e11);
}

#view_main form .drug-name:hover, #view_main form .zip_code:hover {
  border:#E95C29 solid thin;
}

#view_main form .drug-name:focus, #view_main form .zip_code:focus {
    border:#E95C29 solid thin;
}

.recent-searches .bigNumber{
    font-family: CervoBold;
}

.recent-searches h5 {
font-family: 'Lato', sans-serif;
font-style:normal;
font-size:1rem;
}

.ttip:before {
  border-top:9px solid #E95C29 !important;
}

.ttip:after {
  background-color: #E95C29 !important;
  border: 1px solid #E95C29;

}

.user-box .user-welcome {
  font-family: CervoBold;
}

p.subheading {
  font-size:1.2rem;
}

.tint {
  background-color:rgba(0,0,0,0);
}


/*********** DRUG SEARCH MODAL **********/
#drugSearch .showIntro {
  color:#77bc1f;
}

#drugSearch .custom_quantity_btn a {
    color:#77bc1f;

}

#drugSearch select {
     border:#77bc1f solid 2px !important;
}

#drugSearch .btn.primary {
    background-color: #E95C29 !important;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#E95C29), to(#ff8b0e));
    background-image: -webkit-linear-gradient(top, #E95C29, #ff8b0e);
    background-image: -moz-linear-gradient(top, #E95C29, #F09737);
    background-image: -ms-linear-gradient(top, #E95C29, #F09737);
    background-image: -o-linear-gradient(top, #E95C29, #F09737);
    background-image: linear-gradient(to right, #E95C29, #ff8b0e);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E95C29, endColorstr=#F09737);
    transition:backgroundImage 0.2s ease-in-out;
    font-family: CervoBold;
    text-transform:uppercase;
  }

#drugSearch .btn.primary :hover {
     background-color: #ca4515; background-image: -webkit-gradient(linear, left top, right bottom, from(#ca4515), to(#e37e11));
     background-image: -webkit-linear-gradient(top, #ca4515, #e37e11);
     background-image: -moz-linear-gradient(top, #ca4515, #e37e11);
     background-image: -ms-linear-gradient(top, #ca4515, #e37e11);
     background-image: -o-linear-gradient(top, #ca4515, #e37e11);
     background-image: linear-gradient(to right, #ca4515, #e37e11);
     filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ca4515, endColorstr=#e37e11);
}

#drugSearch .content .modal-title {
  text-transform:uppercase;
}


/************ RESULTS PAGE ***************/

.filter-name h5 {
  font-style:normal;
}

body.page-drug .rx-header_outter .medium.btn.primary{
  margin-right:0.5rem;
}

input.zip_code.zip_code_field.input {
    margin-left: 1rem;
}

.rx-page-wrapper .search-results-grid_wrapper div.info-result-wrapper .pharmacy a.pharmacy-map-button:hover i {
  color:#5f9618;
}

.rx-header .field {
  margin-left:0;
}

.rx-header input.input {
 border:#92c04d solid thin !important;
}

a#new_drug_search {
     background-color: #ca4515; background-image: -webkit-gradient(linear, left top, right bottom, from(#ca4515), to(#e37e11));
     background-image: -webkit-linear-gradient(top, #ca4515, #e37e11);
     background-image: -moz-linear-gradient(top, #ca4515, #e37e11);
     background-image: -ms-linear-gradient(top, #ca4515, #e37e11);
     background-image: -o-linear-gradient(top, #ca4515, #e37e11);
     background-image: linear-gradient(to right, #ca4515, #e37e11);
     filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ca4515, endColorstr=#e37e11);

    line-height: 3rem;
    height: 49px;
}

body.page-drug .rx-header_outter .medium.btn.primary a {
    background-color: #92c04d;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#92c04d), to(#57aaa3));
    background-image: -webkit-linear-gradient(top, #92c04d, #57aaa3);
    background-image: -moz-linear-gradient(top, #92c04d, #57aaa3);
    background-image: -ms-linear-gradient(top, #92c04d, #57aaa3);
    background-image: -o-linear-gradient(top, #92c04d, #57aaa3);
    background-image: linear-gradient(to right, #92c04d, #57aaa3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#92c04d, endColorstr=#57aaa3);
    padding-left:1rem !important;
    padding-right:1rem !important;
    font-size:1rem;
}

#drugSearch.modal.docked .seven.centered.columns.get-pricing-button_wrapper a:after , body.page-drug .rx-header_outter .medium.btn.primary a:after {
  display:none;
}

#drugSearch.modal.docked .seven.centered.columns.get-pricing-button_wrapper a:before, body.page-drug .rx-header_outter .medium.btn.primary a:before {
  display:none;
}

 body.page-drug .rx-header_outter .medium.btn.primary a:hover {
   background-color: #ca4515; background-image: -webkit-gradient(linear, left top, right bottom, from(#7aa23d), to(#428983));
   background-image: -webkit-linear-gradient(top, #7aa23d, #428983);
   background-image: -moz-linear-gradient(top, #7aa23d, #428983);
   background-image: -ms-linear-gradient(top, #7aa23d, #428983);
   background-image: -o-linear-gradient(top, #7aa23d, #428983);
   background-image: linear-gradient(to right, #7aa23d, #428983);
   filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ca4515, endColorstr=#428983);
}

#drugSearch.modal.docked .seven.centered.columns.get-pricing-button_wrapper a {
    background-color: #92c04d;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#92c04d), to(#57aaa3));
    background-image: -webkit-linear-gradient(top, #92c04d, #57aaa3);
    background-image: -moz-linear-gradient(top, #92c04d, #57aaa3);
    background-image: -ms-linear-gradient(top, #92c04d, #57aaa3);
    background-image: -o-linear-gradient(top, #92c04d, #57aaa3);
    background-image: linear-gradient(to right, #92c04d, #57aaa3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#92c04d, endColorstr=#57aaa3);
    padding-left:1rem !important;
    padding-right:1rem !important;
    font-size:1rem;
    text-align:center;
}

#drugSearch.modal.docked .seven.centered.columns.get-pricing-button_wrapper a:hover {
   background-color: #ca4515; background-image: -webkit-gradient(linear, left top, right bottom, from(#7aa23d), to(#428983));
   background-image: -webkit-linear-gradient(top, #7aa23d, #428983);
   background-image: -moz-linear-gradient(top, #7aa23d, #428983);
   background-image: -ms-linear-gradient(top, #7aa23d, #428983);
   background-image: -o-linear-gradient(top, #7aa23d, #428983);
   background-image: linear-gradient(to right, #7aa23d, #428983);
   filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ca4515, endColorstr=#428983);
}


body.page-drug .rx-header_outter {
  background-image:url('/sites/all/themes/usap/img/lic_site_images/locate.jpg');
}

.rx-page-wrapper .search-results-grid_wrapper div.info-result-wrapper h5, .rx-page-wrapper .search-results-grid_wrapper div.info-result-wrapper .pharmacy p.pharmacy-name {
  font-family: CervoBold;
}

.rx-page-wrapper .search-results-grid_wrapper div.info-result-wrapper .pharmacy p.pharmacy-name {
font-size:1.3rem;
}

.rx-page-wrapper .search-results-grid_wrapper div.info-result-wrapper .pharmacy i {
  color:#77bc1f;
}

/************* Breadcrumbs *****************/
.breadcrumbs ul li a {
  font-family: 'Lato', sans-serif;
}

.breadcrumbs ul li a {
    color:#77bc1f;
}

.breadcrumbs ul li a:hover {
  color:#5f9618;
}

/********* PAGER *****/
.results-page-indicator.selected a {
  background-color:#003d51;
}

.results-page-indicator a {
  color:#003d51;
}

/************** Pharmacy Modal *************/
#pharmacy_select_modal_content_container h5 {
  font-family: CervoBold;
}

/************* GLOBAL FOOTER ****************/
.rx-footer-wrapper {
  background-color:#003d51;
  background:#003d51;
}

.quickLinks h5 {
  text-transform: uppercase;
}


/********* VOUCHER PAGE *******/
a.extra-link {
    color:#77bc1f;
}

a.extra-link:hover {
  color:#5f9618;
}


/******** MEMBERSHIP CARD PAGE *********/
.btn.info.medium a {
    background-color: #92c04d;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#92c04d), to(#57aaa3));
    background-image: -webkit-linear-gradient(top, #92c04d, #57aaa3);
    background-image: -moz-linear-gradient(top, #92c04d, #57aaa3);
    background-image: -ms-linear-gradient(top, #92c04d, #57aaa3);
    background-image: -o-linear-gradient(top, #92c04d, #57aaa3);
    background-image: linear-gradient(to right, #92c04d, #57aaa3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#92c04d, endColorstr=#57aaa3);
    padding-left:1rem !important;
    padding-right:1rem !important;
    font-size:1rem;
    text-align:center;
    border:none;
}

.btn.info {
  border:none;
}

.btn.info.medium a:hover{
   border:none;
   color:#ffffff;
   background-color: #ca4515; background-image: -webkit-gradient(linear, left top, right bottom, from(#7aa23d), to(#428983));
   background-image: -webkit-linear-gradient(top, #7aa23d, #428983);
   background-image: -moz-linear-gradient(top, #7aa23d, #428983);
   background-image: -ms-linear-gradient(top, #7aa23d, #428983);
   background-image: -o-linear-gradient(top, #7aa23d, #428983);
   background-image: linear-gradient(to right, #7aa23d, #428983);
   filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ca4515, endColorstr=#428983);
}



/********** MARKETING VOUCHER *********/
body.page-rx-coupon .marketing_content h2 {
    font-family: CervoBold;
}


.buttons-wrapper .medium.primary.btn a , a#showMe {
   background-color: #92c04d;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#92c04d), to(#57aaa3));
    background-image: -webkit-linear-gradient(top, #92c04d, #57aaa3);
    background-image: -moz-linear-gradient(top, #92c04d, #57aaa3);
    background-image: -ms-linear-gradient(top, #92c04d, #57aaa3);
    background-image: -o-linear-gradient(top, #92c04d, #57aaa3);
    background-image: linear-gradient(to right, #92c04d, #57aaa3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#92c04d, endColorstr=#57aaa3);
    padding-left:1rem !important;
    padding-right:1rem !important;
    font-size:1rem;
    text-align:center;
    border:none;
}

.buttons-wrapper .medium.primary.btn a:after, a#showMe:after {
  display:none;
}

.buttons-wrapper .medium.primary.btn a:hover, a#showMe:hover {
  border:none;
   color:#ffffff;
   background-color: #ca4515; background-image: -webkit-gradient(linear, left top, right bottom, from(#7aa23d), to(#428983));
   background-image: -webkit-linear-gradient(top, #7aa23d, #428983);
   background-image: -moz-linear-gradient(top, #7aa23d, #428983);
   background-image: -ms-linear-gradient(top, #7aa23d, #428983);
   background-image: -o-linear-gradient(top, #7aa23d, #428983);
   background-image: linear-gradient(to right, #7aa23d, #428983);
   filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ca4515, endColorstr=#428983);
 }

.buttons-wrapper .medium.primary.btn a:before, a#showMe:before{
  display:none;
}

.not-logged-in .btn input {
    background-color: #E95C29 !important;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#E95C29), to(#ff8b0e));
    background-image: -webkit-linear-gradient(top, #E95C29, #ff8b0e);
    background-image: -moz-linear-gradient(top, #E95C29, #F09737);
    background-image: -ms-linear-gradient(top, #E95C29, #F09737);
    background-image: -o-linear-gradient(top, #E95C29, #F09737);
    background-image: linear-gradient(to right, #E95C29, #ff8b0e);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E95C29, endColorstr=#F09737);
    transition:backgroundImage 0.2s ease-in-out;
    font-family: CervoBold;
    text-transform:uppercase;
}

.not-logged-in .btn input:hover {
     background-color: #ca4515; background-image: -webkit-gradient(linear, left top, right bottom, from(#ca4515), to(#e37e11));
     background-image: -webkit-linear-gradient(top, #ca4515, #e37e11);
     background-image: -moz-linear-gradient(top, #ca4515, #e37e11);
     background-image: -ms-linear-gradient(top, #ca4515, #e37e11);
     background-image: -o-linear-gradient(top, #ca4515, #e37e11);
     background-image: linear-gradient(to right, #ca4515, #e37e11);
     filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ca4515, endColorstr=#e37e11);
}


/********* CONTACT US *********/
.page-rx-contact-us .field .input {
      border:#77bc1f solid 2px !important;
         background-color:rgba(255,255,255,0.2);
}

.page-rx-contact-us .contact-info_wrapper h6 {
    font-family: 'Lato', sans-serif;
}

.page-rx-contact-us .expand input{
    border:none;
    position:relative;
    text-transform: uppercase;
    background-color: #E95C29 !important;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#E95C29), to(#ff8b0e));
    background-image: -webkit-linear-gradient(top, #E95C29, #ff8b0e);
    background-image: -moz-linear-gradient(top, #E95C29, #F09737);
    background-image: -ms-linear-gradient(top, #E95C29, #F09737);
    background-image: -o-linear-gradient(top, #E95C29, #F09737);
    background-image: linear-gradient(to right, #E95C29, #ff8b0e);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E95C29, endColorstr=#F09737);
    transition:backgroundImage 0.2s ease-in-out;
   font-family: CervoBold;
   text-align:left;
   padding-left: 1.3rem !important;
   padding-right: 5.25rem !important;
   font-size:1.3rem;
   height:46px;
}

.page-rx-contact-us .expand:before{
    content:'';
    height:60px;
    width:60px;
    background-color:#ffffff2b;
    position:absolute;
    right:0;
    bottom: -5px;
    z-index:555;

}

.page-rx-contact-us .expand:after {
  font-family: 'Font Awesome 5 Pro';
    content: '\f138';
    border: none;
    line-height:1.5rem;
    margin-left:0;
    position: absolute;
    font-size:2rem;
    font-weight:300;
    transform: translateX(-38%);
    color: #ffffff;
    bottom: 1.24rem;
    right:0;
}

/********** LOGIN PAGE ********/
.login_outside_wrapper {
  background-image: url('/sites/all/themes/usap/img/lic_site_images/login.jpg');
}

.login-view-wrapper p.text-center {
  color:#003d51;
}

.login-view_block {
  background-color:#ffffff;
  padding:3rem 5rem;
}

.login-view_block .field input.input {
 border:#92c04d solid 2px !important;
 background-color:rgba(255,255,255,0.2);
}

.not-logged-in .login-view_block .btn input {
    background-color: #92c04d;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#92c04d), to(#57aaa3));
    background-image: -webkit-linear-gradient(top, #92c04d, #57aaa3);
    background-image: -moz-linear-gradient(top, #92c04d, #57aaa3);
    background-image: -ms-linear-gradient(top, #92c04d, #57aaa3);
    background-image: -o-linear-gradient(top, #92c04d, #57aaa3);
    background-image: linear-gradient(to right, #92c04d, #57aaa3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#92c04d, endColorstr=#57aaa3);
    padding-left:1rem !important;
    padding-right:1rem !important;
    font-size:1rem;
    text-align:center;
    border:none;
}

.not-logged-in .login-view_block .btn input:hover{
   border:none;
   color:#ffffff;
   background-color: #ca4515; background-image: -webkit-gradient(linear, left top, right bottom, from(#7aa23d), to(#428983));
   background-image: -webkit-linear-gradient(top, #7aa23d, #428983);
   background-image: -moz-linear-gradient(top, #7aa23d, #428983);
   background-image: -ms-linear-gradient(top, #7aa23d, #428983);
   background-image: -o-linear-gradient(top, #7aa23d, #428983);
   background-image: linear-gradient(to right, #7aa23d, #428983);
   filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ca4515, endColorstr=#428983);
}



/********* ABOUT US **********/
body.page-rx-about-us #about-us_wrapper {
  background-image:url('/sites/all/themes/usap/img/lic_site_images/together.jpg');
}

body.page-rx-about-us .tint {
  background-color:rgba(0,0,0,0);
}

body.page-rx-about-us #about-us_wrapper .ourStory-title h4:after {
  color:#77bc1f;
  font-weight:400;
  content:'\f13a';
  font-family: 'Font Awesome 5 Pro';
  bottom:0;
  right:0;
 transform:translate(-33%, 274%);

}

body.page-rx-about-us #about-us_wrapper .ourStory-title h4:before {
  background-color:#efefef;
  height:60px;
  width:60px;
  border-radius:60px;
  position:absolute;
  bottom:0;
  right:0;
  content:'';
  transform:translate(-81%, 132%);

}

body.page-rx-about-us .ourStory-content .storySection .larger {
  color:#003d51;
}

body.page-rx-about-us .ourStory-content .storySection .quote {
  color:#77bc1f;
}

/****************** Search Alternatives ******************/
body.page-rx-fourtier-formulary .rx-header_outter {
  background-image: url('/sites/all/themes/usap/img/lic_site_images/locate.jpg');
}

body.page-rx-fourtier-formulary ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
}

body.page-rx-fourtier-formulary :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
}

body.page-rx-fourtier-formulary ::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
}

.formulary-filters_wrapper .alternative-tint-dark {
  background-color:rgba(0,0,0,0);
}

.formulary-filters_wrapper {
  background-image: url('/sites/all/themes/usap/img/lic_site_images/login.jpg');
}

.action-tool {
  color:#77bc1f;
}

.action-tool:hover {
  color:#5f9618;
}

.formulary-filters .field input {
   border:#92c04d solid 2px !important;
   background-color:rgba(255,255,255,0.2);
   color:#ffffff;
}

.formulary-results.pill.tabs .tab-nav li.active a {
  background-color:#77bc1f;
}

.highlight i, .highlight span {
  color:#ffffff;
}
.formulary-results .tab-content tr.drug-record-item.highlight span.formulary-results-name:hover {
  color:#77bc1f;
}

.formulary-filters .field .fa-search:hover {
    color:#77bc1f;

}

.formulary-filters .field .fa-search {
color:#ffffff;
}
.formulary-results .tab-content tr.drug-record-item.highlight {
    background-color:#003d51;
}

.formulary-results .tab-content table td i:hover, .formulary-results .tab-content table td .formulary-results-name:hover {
    color:#77bc1f;
}

.formulary-results {
    font-family: 'Lato', sans-serif;
}

/**** Pharmacy Search *****/
body.page-rx-pharmacy-search .pharmacy-search-form_wrapper {
  background-image: url('/sites/all/themes/usap/img/lic_site_images/locate.jpg');
}
